Repository S-P-F-Base/spf-base-site, changes with the labels that .github/labeler.yml gives for each.
All labels: Изменение css, Изменение python, Изменение html, Изменение wiki, Изменение git

.github/labeler.yml:

Изменение css:
  - changed-files:
      - any-glob-to-any-file: ["**/*.css"]

Изменение python:
  - changed-files:
      - any-glob-to-any-file: ["**/*.py"]

Изменение html:
  - changed-files:
      - any-glob-to-any-file: ["templates/**/*.html"]

Изменение wiki:
  - changed-files:
      - any-glob-to-any-file: ["wiki/**", "static/wiki/**"]

Изменение git:
  - changed-files:
      - any-glob-to-any-file: [".gitignore", ".gitattributes", ".github/**"]

update api player
  data_bases/player_db.py
Labels: Изменение python

add new loading
  static/images/loading/100_defy.png
Labels: none

[no-auto] Normalize wiki
  wiki/example.md
  wiki/world_lore/Pages_wiki_1/Dolls_info_1.md
  wiki/world_lore/Pages_wiki_1/T-dolls_personas.md
  wiki/world_lore/Tactical-Dolls/AK-12.md
  wiki/world_lore/Tactical-Dolls/AK-15.md
  wiki/world_lore/Tactical-Dolls/AK-Alpha.md
  wiki/world_lore/Tactical-Dolls/AN-94.md
  wiki/world_lore/Tactical-Dolls/G-36.md
  wiki/world_lore/Tactical-Dolls/HK-416.md
  wiki/world_lore/Tactical-Dolls/M4-SOPMOD2.md
  wiki/world_lore/Tactical-Dolls/Negev.md
  wiki/world_lore/Tactical-Dolls/OTs-14.md
  wiki/world_lore/Tactical-Dolls/Peritya.md
  wiki/world_lore/Tactical-Dolls/RO-635.md
  wiki/world_lore/Tactical-Dolls/WA-2000.md
  wiki/world_lore/The_First_Wiki.md
Labels: Изменение wiki

Блять чеинз сука ссылки проверяй
  wiki/world_lore/Pages_wiki_1/T-dolls_personas.md
Labels: Изменение wiki

add WIP
  wiki/world_lore/Pages_wiki_1/T-dolls_personas.md
Labels: Изменение wiki

add new loading url
  static/images/loading/100_IDV_HELL.png
  static/images/loading/100_ears.png
Labels: none

update limits pages
  wiki/docs/limits.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/limits.md
Labels: Изменение wiki

update limits part 2
  wiki/docs/limits.md
Labels: Изменение wiki

add NEW loading img
  static/images/loading/100_SF.png
Labels: none

часть лора и поправка лора СПФ
  static/wiki/images/world_lore/dop_infa/Kaban.png
  static/wiki/images/world_lore/dop_infa/Koshel.png
  static/wiki/images/world_lore/dop_infa/Toriy.png
  static/wiki/images/world_lore/dop_infa/Yasik.png
  wiki/world_lore/Pages_wiki_1/Lore_info_1.md
  wiki/world_lore/Pages_wiki_1/SPF_info_1.md
  wiki/world_lore/Pages_wiki_2/SPF_info_2.md
  wiki/world_lore/dop_infa/Kaban.md
  wiki/world_lore/dop_infa/Koshel.md
  wiki/world_lore/dop_infa/Toriy.md
  wiki/world_lore/dop_infa/URNC.md
  wiki/world_lore/dop_infa/Yasik.md
Labels: Изменение wiki

лор блять
  wiki/world_lore/Pages_wiki_1/SPF_info_1.md
  wiki/world_lore/Pages_wiki_2/SPF_info_2.md
Labels: Изменение wiki

часть лора и поправка лора СПФ (#39)
  static/wiki/images/world_lore/dop_infa/Kaban.png
  static/wiki/images/world_lore/dop_infa/Koshel.png
  static/wiki/images/world_lore/dop_infa/Toriy.png
  static/wiki/images/world_lore/dop_infa/Yasik.png
  wiki/world_lore/Pages_wiki_1/Lore_info_1.md
  wiki/world_lore/Pages_wiki_1/SPF_info_1.md
  wiki/world_lore/Pages_wiki_2/SPF_info_2.md
  wiki/world_lore/dop_infa/Kaban.md
  wiki/world_lore/dop_infa/Koshel.md
  wiki/world_lore/dop_infa/Toriy.md
  wiki/world_lore/dop_infa/URNC.md
  wiki/world_lore/dop_infa/Yasik.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/world_lore/Pages_wiki_1/Lore_info_1.md
  wiki/world_lore/Pages_wiki_1/SPF_info_1.md
  wiki/world_lore/Pages_wiki_2/SPF_info_2.md
  wiki/world_lore/dop_infa/Kaban.md
  wiki/world_lore/dop_infa/Koshel.md
  wiki/world_lore/dop_infa/Toriy.md
  wiki/world_lore/dop_infa/URNC.md
  wiki/world_lore/dop_infa/Yasik.md
Labels: Изменение wiki

добавлена информация о запусках
  templates/index.html
Labels: Изменение html

add news for main page
  routers/root/index.py
  routers/root/wiki/extensions/__init__.py
  routers/root/wiki/extensions/auto_link_btn_extension.py
  routers/root/wiki/wiki_render.py
  static/css/main.css
  templates/index.html
  wiki/docs/news/event_discord_1.md
  wiki/docs/news/index.md
  wiki/docs/news/news_add.md
  wiki/docs/news/schedule_add.md
Labels: Изменение css, Изменение python, Изменение html, Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/news/event_discord_1.md
  wiki/docs/news/index.md
  wiki/docs/news/news_add.md
  wiki/docs/news/schedule_add.md
Labels: Изменение wiki

update donate page
  templates/donate/index.html
Labels: Изменение html

update store css
  static/css/store.css
Labels: Изменение css

add audio for site
  routers/root/technical.py
  wiki/docs/news/event_discord_1_end.md
Labels: Изменение python, Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/news/event_discord_1_end.md
Labels: Изменение wiki

тестовая проверка ссылок
  templates/index.html
  wiki/docs/index.md
  wiki/docs/questionnaire.md
Labels: Изменение html, Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/index.md
  wiki/docs/questionnaire.md
Labels: Изменение wiki

update questionnaire
  wiki/docs/questionnaire.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/questionnaire.md
Labels: Изменение wiki

удаляем всякое говно
  wiki/docs/oferta.md
  wiki/docs/server_rules/rules.md
Labels: Изменение wiki

проебал
  wiki/docs/server_rules/termins.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/index.md
  wiki/lore/etc_info/Kaban.md
  wiki/lore/etc_info/Koshel.md
  wiki/lore/etc_info/Magrasea.md
  wiki/lore/etc_info/Toriy.md
  wiki/lore/etc_info/Yasik.md
  wiki/lore/index.md
  wiki/lore/nrp_wiki/dolls.md
  wiki/lore/nrp_wiki/elid.md
  wiki/lore/nrp_wiki/index.md
  wiki/lore/nrp_wiki/lore_info.md
  wiki/lore/nrp_wiki/organisations/42Lab.md
  wiki/lore/nrp_wiki/organisations/CM.md
  wiki/lore/nrp_wiki/organisations/SHI.md
  wiki/lore/nrp_wiki/organisations/SPF.md
  wiki/lore/nrp_wiki/organisations/UAS.md
  wiki/lore/nrp_wiki/organisations/URNC.md
  wiki/lore/nrp_wiki/organisations/Ultilife.md
  wiki/lore/nrp_wiki/organisations/index.md
  wiki/lore/nrp_wiki/t_doll_index/AK-12.md
  wiki/lore/nrp_wiki/t_doll_index/AK-15.md
  wiki/lore/nrp_wiki/t_doll_index/AK-Alpha.md
  wiki/lore/nrp_wiki/t_doll_index/AN-94.md
  wiki/lore/nrp_wiki/t_doll_index/G36.md
  wiki/lore/nrp_wiki/t_doll_index/HK-416.md
  wiki/lore/nrp_wiki/t_doll_index/M4-SOPMOD2.md
  wiki/lore/nrp_wiki/t_doll_index/Negev.md
  wiki/lore/nrp_wiki/t_doll_index/OTs-14.md
  wiki/lore/nrp_wiki/t_doll_index/Peritya.md
  wiki/lore/nrp_wiki/t_doll_index/RO-635.md
  wiki/lore/nrp_wiki/t_doll_index/WA-2000.md
  wiki/lore/nrp_wiki/t_doll_index/index.md
  wiki/lore/rp_wiki/index.md
  wiki/lore/rp_wiki/spf.md
Labels: Изменение wiki

fix bg
  wiki/lore/nrp_wiki/lore_info.md
Labels: Изменение wiki

блять. Я забыл
  wiki/guides/index.md
  wiki/guides/medical/index.md
  wiki/index.md
Labels: Изменение wiki

update mg termins
  wiki/docs/server_rules/termins.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/server_rules/termins.md
Labels: Изменение wiki

commands
  wiki/guides/commands.md
  wiki/guides/index.md
  wiki/index.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/guides/commands.md
  wiki/guides/index.md
  wiki/index.md
Labels: Изменение wiki

add some new rules
  wiki/docs/questionnaire.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/questionnaire.md
Labels: Изменение wiki

update limits page
  wiki/docs/limits.md
  wiki/docs/questionnaire.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/limits.md
Labels: Изменение wiki

правки в лимиты
  wiki/docs/limits.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/limits.md
Labels: Изменение wiki
