Repository S-P-F-Base/spf-base-site, changes with the labels that .github/labeler.yml gives for each.
All labels: Изменение css, Изменение python, Изменение html, Изменение wiki, Изменение git

.github/labeler.yml:

Изменение css:
  - changed-files:
      - any-glob-to-any-file: ["**/*.css"]

Изменение python:
  - changed-files:
      - any-glob-to-any-file: ["**/*.py"]

Изменение html:
  - changed-files:
      - any-glob-to-any-file: ["templates/**/*.html"]

Изменение wiki:
  - changed-files:
      - any-glob-to-any-file: ["wiki/**", "static/wiki/**"]

Изменение git:
  - changed-files:
      - any-glob-to-any-file: [".gitignore", ".gitattributes", ".github/**"]

fix?
  data_bases/payment_db.py
  routers/root/profile/admin_payments.py
Labels: Изменение python

fix p2
  data_bases/payment_db.py
  routers/root/profile/admin_payments.py
Labels: Изменение python

fix css
  static/css/payment.css
  templates/payment/pay.html
  templates/payment/status.html
Labels: Изменение css, Изменение html

Update world.json
  static/map/world.json
Labels: none

Update world.json (#42)
  static/map/world.json
Labels: none

последнее обновление в этом репозитории
  main.py
  routers/root/player.py
  routers/root/profile/admin_profiles.py
  routers/root/redirect.py
  routers/root/wiki/wiki_render.py
  static/constants.json
  utils/__init__.py
  utils/constant.py
Labels: Изменение python

hot fix
  routers/root/wiki/wiki_render.py
Labels: Изменение python

hotfix p2
  routers/root/redirect.py
  routers/root/wiki/wiki_render.py
Labels: Изменение python

add ping
  routers/root/technical.py
Labels: Изменение python

fix ping
  routers/root/technical.py
Labels: Изменение python

Lore3 (#41)
  static/wiki/images/lore/nrp_wiki/organisations/Paradeus/Paradeus1.png
  static/wiki/images/lore/nrp_wiki/organisations/Paradeus/Paradeus_Logo.png
  static/wiki/images/lore/nrp_wiki/organisations/Paradeus/Paradeus_machines.JPG
  static/wiki/images/lore/nrp_wiki/organisations/Paradeus/Paradeus_machines2.png
  static/wiki/images/lore/nrp_wiki/organisations/SF/SF1.jpg
  static/wiki/images/lore/nrp_wiki/organisations/SF/SF2.png
  static/wiki/images/lore/nrp_wiki/organisations/SF/SF_BG.jpg
  static/wiki/images/lore/nrp_wiki/organisations/SF/SF_Logo.png
  static/wiki/images/lore/nrp_wiki/organisations/URNC/NOMFA_Logo.png
  static/wiki/images/lore/nrp_wiki/organisations/URNC/RC_URNC_Cyclone.png
  static/wiki/images/lore/nrp_wiki/organisations/URNC/RC_URNC_Elite_Cyclone.png
  static/wiki/images/lore/nrp_wiki/organisations/URNC/RC_URNC_Elite_Skull.png
  static/wiki/images/lore/nrp_wiki/organisations/URNC/RC_URNC_Skull.png
  static/wiki/images/lore/nrp_wiki/organisations/URNC/URNC_Logo.png
  static/wiki/images/lore/nrp_wiki/organisations/URNC/URNC_Werewolves.png
  static/wiki/images/lore/nrp_wiki/organisations/URNC/URNC_military.png
  wiki/docs/about.md
  wiki/lore/etc_info/Kaban.md
  wiki/lore/etc_info/Koshel.md
  wiki/lore/etc_info/Magrasea.md
  wiki/lore/etc_info/Toriy.md
  wiki/lore/etc_info/Yasik.md
  wiki/lore/nrp_wiki/lore_info2.md
  wiki/lore/nrp_wiki/organisations/42Lab.md
  wiki/lore/nrp_wiki/organisations/CM.md
  wiki/lore/nrp_wiki/organisations/Paradeus.md
  wiki/lore/nrp_wiki/organisations/SF.md
  wiki/lore/nrp_wiki/organisations/SHI.md
  wiki/lore/nrp_wiki/organisations/UAS.md
  wiki/lore/nrp_wiki/organisations/URNC.md
  wiki/lore/nrp_wiki/organisations/Ultilife.md
  wiki/lore/nrp_wiki/t_doll_index/AK-Alfa.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/about.md
  wiki/lore/etc_info/Kaban.md
  wiki/lore/etc_info/Koshel.md
  wiki/lore/etc_info/Magrasea.md
  wiki/lore/etc_info/Toriy.md
  wiki/lore/etc_info/Yasik.md
  wiki/lore/nrp_wiki/lore_info2.md
  wiki/lore/nrp_wiki/organisations/42Lab.md
  wiki/lore/nrp_wiki/organisations/CM.md
  wiki/lore/nrp_wiki/organisations/Paradeus.md
  wiki/lore/nrp_wiki/organisations/SF.md
  wiki/lore/nrp_wiki/organisations/SHI.md
  wiki/lore/nrp_wiki/organisations/UAS.md
  wiki/lore/nrp_wiki/organisations/URNC.md
  wiki/lore/nrp_wiki/organisations/Ultilife.md
  wiki/lore/nrp_wiki/t_doll_index/AK-Alfa.md
Labels: Изменение wiki

очистка от мусора основного сайта
  routers/root/game.py
  static/css/game/base.css
  static/css/game/charselect.css
  static/css/game/craft.css
  static/css/game/inv.css
  static/css/loading.css
  static/loading_media/100_404_team.png
  static/loading_media/100_404_team_2.png
  static/loading_media/100_404_team_park.png
  static/loading_media/100_AK12_AN94.png
  static/loading_media/100_AR_TEAM.png
  static/loading_media/100_FREND.png
  static/loading_media/100_IDV_HELL.png
  static/loading_media/100_M4A1.png
  static/loading_media/100_SF.png
  static/loading_media/100_defy.png
  static/loading_media/100_defy_more_fun.png
  static/loading_media/100_defy_some_fun.png
  static/loading_media/100_defy_team.png
  static/loading_media/100_ears.png
  static/loading_media/100_hk415_g11.png
  static/loading_media/100_hk416.mp4
  static/loading_media/100_mosinka.png
  static/loading_media/100_ots14-groza.mp4
  static/loading_media/100_stalker_skull.png
  static/loading_media/100_ump_45_40.png
  templates/game/charselect.html
  templates/game/craft.html
  templates/game/inv.html
  templates/game/medical.html
  templates/loading.html
Labels: Изменение css, Изменение python, Изменение html

fix bugs
  discord_bot/cogs/commands_cog.py
  discord_bot/cogs/event_cog.py
  discord_bot/cogs/server_cog.py
  static/map/world.jpeg
  static/map/world.png
Labels: Изменение python

fix bug
  routers/root/__init__.py
Labels: Изменение python

fix more buts
  routers/root/index.py
Labels: Изменение python

убрать store с публичного вида
  templates/index.html
Labels: Изменение html

рабство эшли продолжается
  discord_bot/cogs/commands_cog.py
  discord_bot/cogs/server_cog.py
Labels: Изменение python

cleanup? remove ai
  discord_bot/bot_obj.py
  discord_bot/cogs/__init__.py
  discord_bot/cogs/ai_core.py
  discord_bot/cogs/commands_cog.py
  discord_bot/cogs/etc.py
  discord_bot/cogs/event_cog.py
  discord_bot/cogs/player_cog.py
  discord_bot/cogs/server_cog.py
Labels: Изменение python

блять
  discord_bot/cogs/commands_cog.py
Labels: Изменение python

fix donate (nope:3)
  routers/root/donate.py
  routers/root/store.py
Labels: Изменение python

hide donate
  templates/index.html
Labels: Изменение html

Add files via upload
  static/map/world.json
Labels: none

обнова карты (#43)
  static/map/world.json
Labels: none

fix forum cog
  discord_bot/cogs/commands_cog.py
  discord_bot/cogs/forum_control_cog.py
Labels: Изменение python

fix team command
  discord_bot/cogs/commands_cog.py
Labels: Изменение python

fix bot cleanup
  discord_bot/cogs/forum_control_cog.py
Labels: Изменение python

update
  discord_bot/cogs/commands_cog.py
Labels: Изменение python

fix
  discord_bot/cogs/commands_cog.py
Labels: Изменение python

смерть эшли часть 2
  discord_bot/__init__.py
  discord_bot/bot_obj.py
  discord_bot/cogs/__init__.py
  discord_bot/cogs/commands_cog.py
  discord_bot/cogs/etc.py
  discord_bot/cogs/event_cog.py
  discord_bot/cogs/forum_control_cog.py
  discord_bot/cogs/player_cog.py
  discord_bot/cogs/server_cog.py
  discord_bot/cogs/user_control_cog.py
  main.py
  requirements.txt
  routers/root/profile/admin_profiles.py
  routers/root/profile/user.py
  static/images/ashley/angry.png
  static/images/ashley/happy.png
  static/images/ashley/normal.png
  static/images/ashley/not_ai_i.png
  static/images/ashley/sili.png
  static/images/ashley/something_wrong.png
  static/images/ashley/worry.png
  utils/error.py
Labels: Изменение python
