Repository S-P-F-Base/spf-base-site, changes with the labels that .github/labeler.yml gives for each.
All labels: Изменение css, Изменение python, Изменение html, Изменение wiki, Изменение git

.github/labeler.yml:

Изменение css:
  - changed-files:
      - any-glob-to-any-file: ["**/*.css"]

Изменение python:
  - changed-files:
      - any-glob-to-any-file: ["**/*.py"]

Изменение html:
  - changed-files:
      - any-glob-to-any-file: ["templates/**/*.html"]

Изменение wiki:
  - changed-files:
      - any-glob-to-any-file: ["wiki/**", "static/wiki/**"]

Изменение git:
  - changed-files:
      - any-glob-to-any-file: [".gitignore", ".gitattributes", ".github/**"]

fix code forum and push
  discord_bot/cogs/forum_control_cog.py
Labels: Изменение python

fix code for blacklist
  discord_bot/cogs/forum_control_cog.py
Labels: Изменение python

update code for discord forum. Fix bugs
  discord_bot/cogs/forum_control_cog.py
  discord_bot/cogs/user_control_cog.py
Labels: Изменение python

update search
  routers/root/profile/admin_profiles.py
  templates/profile/admin/profiles.html
  utils/steam.py
Labels: Изменение python, Изменение html

update payments
  routers/root/profile/admin_payments.py
  templates/profile/admin/payments.html
Labels: Изменение python, Изменение html

fix order
  routers/root/profile/admin_profiles.py
Labels: Изменение python

get my access again
  .github/workflows/deploy.yml
Labels: Изменение git

fix deploy
  .github/workflows/deploy.yml
Labels: Изменение git

це таки прогрев гоев на донат
  routers/root/profile/admin_services.py
  templates/profile/admin/payments.html
  templates/profile/admin/profiles.html
  wiki/docs/limits.md
  wiki/docs/questionnaire.md
Labels: Изменение python, Изменение html, Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/questionnaire.md
Labels: Изменение wiki

fix 500
  routers/root/profile/admin_services.py
Labels: Изменение python

fix 500 p2
  routers/root/profile/admin_services.py
Labels: Изменение python

add skull
  discord_bot/cogs/commands_cog.py
  discord_bot/cogs/player_cog.py
Labels: Изменение python

update
  discord_bot/cogs/player_cog.py
Labels: Изменение python

fix
  discord_bot/cogs/player_cog.py
Labels: Изменение python

delete new ankets
  discord_bot/cogs/forum_control_cog.py
Labels: Изменение python

fix
  discord_bot/cogs/forum_control_cog.py
Labels: Изменение python

fix bug part 2
  data_bases/payment_db.py
Labels: Изменение python

fix bugs
  routers/root/profile/admin_services.py
  templates/profile/admin/services.html
Labels: Изменение python, Изменение html

fix dead url
  wiki/docs/index.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/index.md
Labels: Изменение wiki

updat esize commands
  discord_bot/cogs/commands_cog.py
Labels: Изменение python

fix
  discord_bot/cogs/commands_cog.py
Labels: Изменение python

fix code
  discord_bot/cogs/commands_cog.py
Labels: Изменение python

fix ip
  wiki/constants.json
Labels: Изменение wiki

add new loading
  static/images/loading/100_hk415_g11.png
Labels: none

update code
  data_control/config.py
  data_control/server_control.py
Labels: Изменение python

add defy tema lodaing
  static/images/loading/100_defy_team.png
Labels: none

lore
  static/wiki/images/lore/nrp_wiki/organisations/Paradeus/Paradeus1.png
  static/wiki/images/lore/nrp_wiki/organisations/Paradeus/Paradeus_Logo.png
  static/wiki/images/lore/nrp_wiki/organisations/Paradeus/Paradeus_machines.JPG
  static/wiki/images/lore/nrp_wiki/organisations/Paradeus/Paradeus_machines2.png
  static/wiki/images/lore/nrp_wiki/organisations/SF/SF1.jpg
  static/wiki/images/lore/nrp_wiki/organisations/SF/SF2.png
  static/wiki/images/lore/nrp_wiki/organisations/SF/SF_BG.jpg
  static/wiki/images/lore/nrp_wiki/organisations/SF/SF_Logo.png
  static/wiki/images/lore/nrp_wiki/organisations/URNC/NOMFA_Logo.png
  static/wiki/images/lore/nrp_wiki/organisations/URNC/RC_URNC_Cyclone.png
  static/wiki/images/lore/nrp_wiki/organisations/URNC/RC_URNC_Elite_Cyclone.png
  static/wiki/images/lore/nrp_wiki/organisations/URNC/RC_URNC_Elite_Skull.png
  static/wiki/images/lore/nrp_wiki/organisations/URNC/RC_URNC_Skull.png
  static/wiki/images/lore/nrp_wiki/organisations/URNC/URNC_Logo.png
  static/wiki/images/lore/nrp_wiki/organisations/URNC/URNC_Werewolves.png
  static/wiki/images/lore/nrp_wiki/organisations/URNC/URNC_military.png
  wiki/docs/about.md
  wiki/lore/etc_info/Kaban.md
  wiki/lore/etc_info/Koshel.md
  wiki/lore/etc_info/Magrasea.md
  wiki/lore/etc_info/Toriy.md
  wiki/lore/etc_info/Yasik.md
  wiki/lore/nrp_wiki/organisations/42Lab.md
  wiki/lore/nrp_wiki/organisations/CM.md
  wiki/lore/nrp_wiki/organisations/Paradeus.md
  wiki/lore/nrp_wiki/organisations/SF.md
  wiki/lore/nrp_wiki/organisations/SHI.md
  wiki/lore/nrp_wiki/organisations/UAS.md
  wiki/lore/nrp_wiki/organisations/URNC.md
  wiki/lore/nrp_wiki/organisations/Ultilife.md
Labels: Изменение wiki

add more loading
  static/images/loading/100_404_team_park.png
  static/images/loading/100_defy_more_fun.png
  static/images/loading/100_defy_some_fun.png
  static/images/loading/IMG_20251107_213146_556.jpg
Labels: none

rm some jpeg from loading
  static/images/loading/IMG_20251107_213146_556.jpg
Labels: none

update code
  discord_bot/cogs/server_cog.py
Labels: Изменение python

fix bug
  data_control/server_control.py
Labels: Изменение python

fix bug
  data_control/server_control.py
Labels: Изменение python

fix code part 4
  discord_bot/cogs/server_cog.py
Labels: Изменение python

fix code and update
  discord_bot/cogs/commands_cog.py
  routers/api/yoomoney/notification.py
Labels: Изменение python

fix bug
  discord_bot/cogs/commands_cog.py
Labels: Изменение python

fix code
  routers/api/yoomoney/notification.py
Labels: Изменение python

update wiki\docs\questionnaire.md
  wiki/docs/questionnaire.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/questionnaire.md
Labels: Изменение wiki
