Repository S-P-F-Base/spf-base-site, changes with the labels that .github/labeler.yml gives for each.
All labels: Изменение css, Изменение python, Изменение html, Изменение wiki, Изменение git

.github/labeler.yml:

Изменение css:
  - changed-files:
      - any-glob-to-any-file: ["**/*.css"]

Изменение python:
  - changed-files:
      - any-glob-to-any-file: ["**/*.py"]

Изменение html:
  - changed-files:
      - any-glob-to-any-file: ["templates/**/*.html"]

Изменение wiki:
  - changed-files:
      - any-glob-to-any-file: ["wiki/**", "static/wiki/**"]

Изменение git:
  - changed-files:
      - any-glob-to-any-file: [".gitignore", ".gitattributes", ".github/**"]

Обновление рендера оглавления (#24)
  routers/root/wiki/extensions/__init__.py
  routers/root/wiki/extensions/toc_tree_extension.py
  routers/root/wiki/wiki_render.py
  static/css/wiki.css
Labels: Изменение css, Изменение python

add log read endpoint
  database/__init__.py
  database/log_db.py
  database/pydantic_models.py
  main.py
  routers/api/logs/__init__.py
  routers/api/logs/by_creator.py
  routers/api/logs/by_range.py
  routers/api/logs/by_time_range.py
  routers/api/logs/min_max_id.py
  routers/api/server_control/start.py
  routers/api/server_control/stop.py
  routers/api/user_control/delete.py
  routers/api/user_control/get_all.py
  routers/api/user_control/get_info.py
  routers/api/user_control/set_access.py
Labels: Изменение python

fix
  database/__init__.py
  database/log_db.py
  database/pydantic_models.py
  routers/api/logs/by_type.py
  routers/api/server_control/stop.py
Labels: Изменение python

fix logs in user_db
  database/user_db.py
Labels: Изменение python

Update oferta.md
  wiki/docs/oferta.md
Labels: Изменение wiki

Update oferta.md
  wiki/docs/oferta.md
Labels: Изменение wiki

rename YoomoneyDB path for db
  database/yoomoney_db.py
Labels: Изменение python

refactor
  data_bases/__init__.py
  data_bases/base_db.py
  data_bases/donate_db.py
  data_bases/log_db.py
  data_bases/user_db.py
  data_bases/yoomoney_db.py
  data_control/__init__.py
  data_control/auto_tax.py
  data_control/config.py
  data_control/jwt_control.py
  data_control/payment_datatype.py
  data_control/pydantic_models.py
  data_control/server_control.py
  main.py
  routers/api/auth/login.py
  routers/api/auth/refresh.py
  routers/api/auth/register.py
  routers/api/logs/by_creator.py
  routers/api/logs/by_range.py
  routers/api/logs/by_time_range.py
  routers/api/logs/by_type.py
  routers/api/logs/min_max_id.py
  routers/api/server_control/start.py
  routers/api/server_control/status.py
  routers/api/server_control/stop.py
  routers/api/user_control/delete.py
  routers/api/user_control/get_all.py
  routers/api/user_control/get_info.py
  routers/api/user_control/me.py
  routers/api/user_control/set_access.py
  routers/api/yoomoney/create_payment.py
  routers/api/yoomoney/create_payment_url.py
  routers/api/yoomoney/notification.py
  routers/root/pay.py
Labels: Изменение python

add decimal count for server
  data_bases/yoomoney_db.py
  data_control/payment_datatype.py
  requirements.txt
  routers/api/yoomoney/create_payment.py
  routers/api/yoomoney/create_payment_url.py
  routers/api/yoomoney/notification.py
Labels: Изменение python

fix decimal import
  requirements.txt
Labels: none

fix import bugs
  data_bases/yoomoney_db.py
  data_control/jwt_control.py
  main.py
  routers/root/pay.py
Labels: Изменение python

Правки в оферте (#23)
  wiki/docs/oferta.md
Labels: Изменение wiki

fix DonateDB
  data_bases/donate_db.py
Labels: Изменение python

fix oferta author
  wiki/docs/oferta.md
Labels: Изменение wiki

fix OVERHOSTING_COOKIES .env template
  .env_template
Labels: none

правила и термины
  wiki/docs/index.md
  wiki/docs/rules.md
  wiki/docs/termins.md
Labels: Изменение wiki

add anchor highlight
  static/css/wiki.css
  templates/wiki_template.html
Labels: Изменение css, Изменение html

fix bug
  routers/root/wiki/extensions/toc_tree_extension.py
Labels: Изменение python

Исправление багов с toc (#27)
  routers/root/wiki/extensions/toc_tree_extension.py
Labels: Изменение python

Добавление подсветки заголовков (#26)
  static/css/wiki.css
  templates/wiki_template.html
Labels: Изменение css, Изменение html

ковыаыыыыыаааачки
  wiki/docs/rules.md
Labels: Изменение wiki

правила и термины (#25)
  wiki/docs/index.md
  wiki/docs/rules.md
  wiki/docs/termins.md
Labels: Изменение wiki

удачи Каин
  wiki/docs/cooperation.md
Labels: Изменение wiki

ну да
  static/wiki/images/world_lore/dop_infa/Exiles_Logo.png
  static/wiki/images/world_lore/dop_infa/Magrasea.png
  static/wiki/images/world_lore/wiki_choice.jpg
  wiki/world_lore/dop_infa/Magrasea.md
  wiki/world_lore/index.md
Labels: Изменение wiki

bug fix
  templates/index.html
  wiki/constants.json
  wiki/docs/about.md
  wiki/docs/oferta.md
  wiki/docs/server_rules/rp_base.md
  wiki/docs/server_rules/rules.md
  wiki/docs/server_rules/termins.md
Labels: Изменение html, Изменение wiki

fix links
  wiki/docs/index.md
Labels: Изменение wiki

fix
  routers/root/wiki/extensions/button_extension.py
  routers/root/wiki/extensions/constant_extension.py
  routers/root/wiki/wiki_render.py
  wiki/docs/about.md
  wiki/example.md
Labels: Изменение python, Изменение wiki

fix
  wiki/docs/about.md
  wiki/docs/index.md
  wiki/docs/server_rules/rp_base.md
  wiki/docs/server_rules/rules.md
Labels: Изменение wiki

fix oferta
  wiki/docs/oferta.md
Labels: Изменение wiki

fuck
  wiki/docs/oferta.md
Labels: Изменение wiki

date
  wiki/docs/oferta.md
Labels: Изменение wiki

rm 5.4
  wiki/docs/oferta.md
Labels: Изменение wiki

fix
  wiki/docs/oferta.md
Labels: Изменение wiki

Исправление багфиксов и оформления страницы о проекте (#28)
  routers/root/wiki/extensions/button_extension.py
  routers/root/wiki/extensions/constant_extension.py
  routers/root/wiki/wiki_render.py
  templates/index.html
  wiki/constants.json
  wiki/docs/about.md
  wiki/docs/index.md
  wiki/docs/oferta.md
  wiki/docs/server_rules/rp_base.md
  wiki/docs/server_rules/rules.md
  wiki/docs/server_rules/termins.md
  wiki/example.md
Labels: Изменение python, Изменение html, Изменение wiki

add mail_control
  .env_template
  data_bases/log_db.py
  data_control/__init__.py
  data_control/config.py
  data_control/mail_control.py
  data_control/server_control.py
  main.py
Labels: Изменение python

add
  data_bases/__init__.py
  data_bases/donate_db.py
  routers/root/donate.py
  static/css/donate.css
  templates/donate.html
  templates/index.html
Labels: Изменение css, Изменение python, Изменение html

Добавление страницы доната (#29)
  data_bases/__init__.py
  data_bases/donate_db.py
  routers/root/donate.py
  static/css/donate.css
  templates/donate.html
  templates/index.html
Labels: Изменение css, Изменение python, Изменение html

update payment_db and donate
  data_bases/__init__.py
  data_bases/donate_db.py
  data_bases/payment_db.py
  data_bases/yoomoney_db.py
  data_control/payment_datatype.py
  data_control/pydantic_models.py
  main.py
  routers/api/donate_control/__init__.py
  routers/api/yoomoney/notification.py
  routers/root/donate.py
  static/css/donate.css
  static/css/main.css
  static/css/wiki.css
  templates/donate.html
Labels: Изменение css, Изменение python, Изменение html

fix import bugs
  data_control/__init__.py
  routers/root/pay.py
Labels: Изменение python

часть от пиздеца
  static/wiki/images/world_lore/Pages_wiki_1/Lore_info_1/wallpaper_lore.jpg
  wiki/world_lore/Pages_wiki_1/Lore_info_1.md
Labels: Изменение wiki
