Repository S-P-F-Base/spf-base-site, changes with the labels that .github/labeler.yml gives for each.
All labels: Изменение css, Изменение python, Изменение html, Изменение wiki, Изменение git

.github/labeler.yml:

Изменение css:
  - changed-files:
      - any-glob-to-any-file: ["**/*.css"]

Изменение python:
  - changed-files:
      - any-glob-to-any-file: ["**/*.py"]

Изменение html:
  - changed-files:
      - any-glob-to-any-file: ["templates/**/*.html"]

Изменение wiki:
  - changed-files:
      - any-glob-to-any-file: ["wiki/**", "static/wiki/**"]

Изменение git:
  - changed-files:
      - any-glob-to-any-file: [".gitignore", ".gitattributes", ".github/**"]

get status if server is on
  economy/game_db.py
Labels: Изменение python

всё же 15 лучше 5
  economy/game_db.py
Labels: Изменение python

add leave_feedback
  routers/root/leave_feedback.py
  templates/download.html
  templates/leave_feedback.html
Labels: Изменение python, Изменение html

fix code
  routers/root/leave_feedback.py
Labels: Изменение python

fix all
  discord_bot/cogs/event_cog.py
  routers/root/feedback.py
  templates/feedback.html
Labels: Изменение python, Изменение html

fix some fuck
  data_bases/payment_db.py
Labels: Изменение python

вы заебали
  discord_bot/cogs/commands_cog.py
Labels: Изменение python

update discord code
  discord_bot/cogs/commands_cog.py
  discord_bot/cogs/event_cog.py
  discord_bot/cogs/forum_control_cog.py
Labels: Изменение python

update some code
  discord_bot/cogs/event_cog.py
Labels: Изменение python

fix code
  economy/game_db.py
Labels: Изменение python

charselect fix bug
  static/js/game/charselect.js
Labels: none

add size
  discord_bot/cogs/commands_cog.py
Labels: Изменение python

добавление какой-то хуйни
  templates/game/medical.html
Labels: Изменение html

update code for ui
  templates/game/medical.html
Labels: Изменение html

add ammo to economy
  discord_bot/cogs/forum_control_cog.py
  routers/root/economy.py
Labels: Изменение python

fix economy
  routers/root/economy.py
Labels: Изменение python

fix code fu
  routers/root/economy.py
Labels: Изменение python

откат странных решений по экономике
  routers/root/economy.py
  templates/economy.html
Labels: Изменение python, Изменение html

revert html page
  templates/economy.html
Labels: Изменение html

add sd org
  routers/root/wiki/extensions/__init__.py
  routers/root/wiki/extensions/auto_link_btn_extension.py
  routers/root/wiki/extensions/warn_include_extension.py
  routers/root/wiki/wiki_render.py
  static/wiki/images/lore/nrp_wiki/organisations/SD/logo.png
  static/wiki/images/lore/nrp_wiki/organisations/SD/mtf_bloody_blade.png
  static/wiki/images/lore/nrp_wiki/organisations/SD/mtf_spiritual_eye.png
  wiki/_warn/rpk_info.md
  wiki/lore/nrp_wiki/organisations/SD/access_class.md
  wiki/lore/nrp_wiki/organisations/SD/docs/access_type.md
  wiki/lore/nrp_wiki/organisations/SD/docs/anomaly_type.md
  wiki/lore/nrp_wiki/organisations/SD/docs/index.md
  wiki/lore/nrp_wiki/organisations/SD/docs/missions_type.md
  wiki/lore/nrp_wiki/organisations/SD/docs/units_type.md
  wiki/lore/nrp_wiki/organisations/SD/docs/worker_type.md
  wiki/lore/nrp_wiki/organisations/SD/index.md
  wiki/lore/nrp_wiki/organisations/SD/mtf/bloody_blade.md
  wiki/lore/nrp_wiki/organisations/SD/mtf/dark_eaters.md
  wiki/lore/nrp_wiki/organisations/SD/mtf/fiery_thunder.md
  wiki/lore/nrp_wiki/organisations/SD/mtf/index.md
  wiki/lore/nrp_wiki/organisations/SD/mtf/spiritual_eye.md
  wiki/lore/nrp_wiki/organisations/SD/mtf/сrimson_shield.md
Labels: Изменение python, Изменение wiki

[no-auto] Normalize wiki
  wiki/lore/nrp_wiki/organisations/SD/access_class.md
  wiki/lore/nrp_wiki/organisations/SD/docs/access_type.md
  wiki/lore/nrp_wiki/organisations/SD/docs/anomaly_type.md
  wiki/lore/nrp_wiki/organisations/SD/docs/index.md
  wiki/lore/nrp_wiki/organisations/SD/docs/missions_type.md
  wiki/lore/nrp_wiki/organisations/SD/docs/units_type.md
  wiki/lore/nrp_wiki/organisations/SD/docs/worker_type.md
  wiki/lore/nrp_wiki/organisations/SD/index.md
  wiki/lore/nrp_wiki/organisations/SD/mtf/bloody_blade.md
  wiki/lore/nrp_wiki/organisations/SD/mtf/dark_eaters.md
  wiki/lore/nrp_wiki/organisations/SD/mtf/fiery_thunder.md
  wiki/lore/nrp_wiki/organisations/SD/mtf/index.md
  wiki/lore/nrp_wiki/organisations/SD/mtf/spiritual_eye.md
Labels: Изменение wiki

маленький кусочек (мне не спалось. потом ещё напишу норм)
  wiki/lore/nrp_wiki/organisations/Paradeus.md
  wiki/lore/nrp_wiki/organisations/SF.md
  wiki/lore/nrp_wiki/organisations/SPF.md
  wiki/lore/nrp_wiki/t_doll_index/AK-Alfa.md
Labels: Изменение wiki

маленький кусочек (мне не спалось. потом ещё напишу норм) (#40)
  wiki/lore/nrp_wiki/organisations/Paradeus.md
  wiki/lore/nrp_wiki/organisations/SF.md
  wiki/lore/nrp_wiki/organisations/SPF.md
  wiki/lore/nrp_wiki/t_doll_index/AK-Alfa.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/lore/nrp_wiki/organisations/Paradeus.md
  wiki/lore/nrp_wiki/organisations/SF.md
  wiki/lore/nrp_wiki/organisations/SPF.md
  wiki/lore/nrp_wiki/t_doll_index/AK-Alfa.md
Labels: Изменение wiki

add user_time
  discord_bot/bot_obj.py
  discord_bot/cogs/__init__.py
  discord_bot/cogs/player_cog.py
  economy/game_db.py
Labels: Изменение python

steamid add for user_time
  discord_bot/cogs/player_cog.py
Labels: Изменение python

add id commit
  discord_bot/cogs/player_cog.py
Labels: Изменение python

fix hangup for forum cleanup
  discord_bot/cogs/forum_control_cog.py
Labels: Изменение python

fix bug for ds bot
  discord_bot/cogs/event_cog.py
Labels: Изменение python

fix round. Add cach_ttl
  discord_bot/cogs/commands_cog.py
  discord_bot/cogs/forum_control_cog.py
  discord_bot/cogs/user_control_cog.py
Labels: Изменение python

update discord bot code and fix bugs
  discord_bot/bot_obj.py
  discord_bot/cogs/__init__.py
  discord_bot/cogs/commands_cog.py
  discord_bot/cogs/debug_cog.py
  discord_bot/cogs/event_cog.py
  discord_bot/cogs/forum_control_cog.py
  discord_bot/cogs/server_cog.py
  discord_bot/cogs/user_control_cog.py
Labels: Изменение python

speed up profiles
  discord_bot/cogs/user_control_cog.py
  routers/root/profile/admin_profiles.py
  templates/profile/admin/profiles.html
Labels: Изменение python, Изменение html

fix profiles
  templates/profile/admin/profiles.html
Labels: Изменение html

update dicsord bot
  discord_bot/cogs/commands_cog.py
  discord_bot/cogs/etc.py
  discord_bot/cogs/forum_control_cog.py
Labels: Изменение python

hotfix
  discord_bot/cogs/commands_cog.py
Labels: Изменение python

update help
  discord_bot/cogs/commands_cog.py
Labels: Изменение python

clna cmd for bot
  discord_bot/cogs/commands_cog.py
Labels: Изменение python

fuuuck u update
  discord_bot/cogs/event_cog.py
Labels: Изменение python

update code for ds bot
  discord_bot/cogs/event_cog.py
  discord_bot/cogs/player_cog.py
Labels: Изменение python

add 2 forums for bot
  discord_bot/cogs/forum_control_cog.py
Labels: Изменение python
