Repository S-P-F-Base/spf-base-site, changes with the labels that .github/labeler.yml gives for each.
All labels: Изменение css, Изменение python, Изменение html, Изменение wiki, Изменение git

Стандартные модули кукл
  wiki/doll_docs/modules/standart/battery_systems.md
  wiki/doll_docs/modules/standart/body_control_systems.md
  wiki/doll_docs/modules/standart/cooling_systems.md
  wiki/doll_docs/modules/standart/optic_systems.md
  wiki/doll_docs/modules/standart/synthetic_skin.md
  wiki/doll_docs/modules/standart/unc.md
  wiki/guides/med.md
Labels: Изменение wiki

move some data
  wiki/doll_docs/modules/index.md
  wiki/lore/nrp_wiki/doll_docs/index.md
  wiki/lore/nrp_wiki/doll_docs/modules/communication/dummy_network.md
  wiki/lore/nrp_wiki/doll_docs/modules/communication/index.md
  wiki/lore/nrp_wiki/doll_docs/modules/communication/iru.md
  wiki/lore/nrp_wiki/doll_docs/modules/communication/ogas.md
  wiki/lore/nrp_wiki/doll_docs/modules/communication/zener_protocol.md
  wiki/lore/nrp_wiki/doll_docs/modules/index.md
  wiki/lore/nrp_wiki/doll_docs/modules/standart/battery_systems.md
  wiki/lore/nrp_wiki/doll_docs/modules/standart/body_control_systems.md
  wiki/lore/nrp_wiki/doll_docs/modules/standart/cooling_systems.md
  wiki/lore/nrp_wiki/doll_docs/modules/standart/index.md
  wiki/lore/nrp_wiki/doll_docs/modules/standart/neuro_core.md
  wiki/lore/nrp_wiki/doll_docs/modules/standart/optic_systems.md
  wiki/lore/nrp_wiki/doll_docs/modules/standart/synthetic_skin.md
  wiki/lore/nrp_wiki/doll_docs/modules/standart/unc.md
  wiki/lore/nrp_wiki/index.md
Labels: Изменение wiki

update and add char delete
  routers/root/profile.py
  templates/profile/admin.html
Labels: Изменение python, Изменение html

update profile code
  static/css/profile.css
  templates/profile/admin.html
  templates/profile/index.html
Labels: Изменение css, Изменение html

update code
  templates/profile/admin.html
Labels: Изменение html

some update for admin panel
  data_class/profile.py
  routers/root/profile.py
  templates/profile/admin.html
  templates/profile/admin/index.html
  templates/profile/admin/profiles.html
  utils/__init__.py
  utils/steam.py
Labels: Изменение python, Изменение html

add icon
  static/images/icons/users.svg
Labels: none

fix icon
  static/images/icons/users.svg
Labels: none

commit -m 'рак мозга'
  static/css/lore_char.css
  static/images/icons/lock.png
  static/images/icons/lock.svg
Labels: Изменение css

я пожалею об этом
  data_class/profile.py
Labels: Изменение python

одумайся
  data_class/profile.py
Labels: Изменение python

update code for access and bl
  data_class/profile.py
  discord_bot/cogs/server_cog.py
  routers/root/profile.py
  templates/profile/admin/profiles.html
Labels: Изменение python, Изменение html

fix profile code
  routers/root/profile.py
  templates/profile/admin/profiles.html
Labels: Изменение python, Изменение html

fix blat
  discord_bot/cogs/server_cog.py
Labels: Изменение python

fix
  discord_bot/cogs/server_cog.py
Labels: Изменение python

hotfix
  discord_bot/cogs/server_cog.py
Labels: Изменение python

fun cog
  discord_bot/bot_obj.py
  discord_bot/cogs/__init__.py
  discord_bot/cogs/fun_cog.py
Labels: Изменение python

no fun
  discord_bot/bot_obj.py
  discord_bot/cogs/__init__.py
  discord_bot/cogs/fun_cog.py
Labels: Изменение python

fix
  discord_bot/cogs/forum_cog.py
Labels: Изменение python

fix
  discord_bot/cogs/forum_cog.py
Labels: Изменение python

update code for forum control
  discord_bot/cogs/forum_cog.py
Labels: Изменение python

update index code
  templates/index.html
Labels: Изменение html

fix some heresi
  templates/index.html
Labels: Изменение html

update index of site
  static/css/main.css
  static/images/icons/commands.png
  static/images/icons/donate.png
  static/images/icons/github.png
  static/images/icons/lore_chars.png
  static/images/icons/questionnaire.png
  static/images/icons/rules.png
  static/images/icons/store.png
  static/images/icons/wiki.png
  static/images/icons/world.png
  templates/index.html
  templates/partials/header.html
  wiki/docs/news/update_index_site_1.md
Labels: Изменение css, Изменение html, Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/news/update_index_site_1.md
Labels: Изменение wiki

some auto limits
  discord_bot/cogs/forum_cog.py
Labels: Изменение python

добавление админ панели, обновление профайла, удаление старого апи
  data_bases/payment_db.py
  data_class/profile.py
  data_control/server_control.py
  discord_bot/bot_obj.py
  discord_bot/cogs/__init__.py
  discord_bot/cogs/commands_cog.py
  discord_bot/cogs/forum_control_cog.py
  main.py
  routers/api/payment_control/base_func.py
  routers/api/payment_control/create.py
  routers/api/payment_control/delete.py
  routers/api/payment_control/edit.py
  routers/api/payment_control/get.py
  routers/api/payment_control/list.py
  routers/api/service_control/__init__.py
  routers/api/service_control/create.py
  routers/api/service_control/delete.py
  routers/api/service_control/edit.py
  routers/api/service_control/get.py
  routers/api/service_control/list.py
  routers/root/__init__.py
  routers/root/profile/__init__.py
  routers/root/profile/admin_lore_chars.py
  routers/root/profile/admin_main.py
  routers/root/profile/admin_payments.py
  routers/root/profile/admin_profiles.py
  routers/root/profile/admin_services.py
  routers/root/profile/user.py
  static/images/icons/warehouse.png
  templates/profile/admin/index.html
  templates/profile/admin/lore_chars.html
  templates/profile/admin/payments.html
  templates/profile/admin/services.html
  templates/profile/index.html
  utils/__init__.py
  utils/admin.py
  utils/error.py
Labels: Изменение python, Изменение html

remove log for admin chat
  discord_bot/cogs/event_cog.py
Labels: Изменение python

some fun
  .gitignore
Labels: Изменение git

rm nsfw
  static/wiki/images/hehe.jpg
  wiki/example.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/example.md
Labels: Изменение wiki

add game db download
  .env_template
  data_control/config.py
  economy/__init__.py
  economy/game_db.py
Labels: Изменение python

some fix for update
  economy/game_db.py
Labels: Изменение python

fix admin panel
  economy/game_db.py
  main.py
  routers/root/profile/admin_lore_chars.py
  routers/root/profile/admin_main.py
  routers/root/profile/admin_payments.py
  routers/root/profile/admin_profiles.py
  routers/root/profile/admin_services.py
  templates/profile/admin/index.html
Labels: Изменение python, Изменение html

fix logs for auto_tax
  data_control/auto_tax.py
Labels: Изменение python

fix payments
  data_bases/payment_db.py
  data_control/auto_tax.py
  routers/api/yoomoney/notification.py
Labels: Изменение python

some fun
  economy/__init__.py
  economy/game_db.py
  main.py
  routers/root/economy.py
  templates/economy.html
Labels: Изменение python, Изменение html

добавление устава базы
  static/wiki/images/hop_sig.png
  wiki/lore/rp_wiki/сharter_of_base.md
Labels: Изменение wiki

исправление блока имени
  wiki/lore/rp_wiki/charter_of_base.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/lore/rp_wiki/charter_of_base.md
Labels: Изменение wiki

.github/labeler.yml:

Изменение css:
  - changed-files:
      - any-glob-to-any-file: ["**/*.css"]

Изменение python:
  - changed-files:
      - any-glob-to-any-file: ["**/*.py"]

Изменение html:
  - changed-files:
      - any-glob-to-any-file: ["templates/**/*.html"]

Изменение wiki:
  - changed-files:
      - any-glob-to-any-file: ["wiki/**", "static/wiki/**"]

Изменение git:
  - changed-files:
      - any-glob-to-any-file: [".gitignore", ".gitattributes", ".github/**"]
