Repository S-P-F-Base/spf-base-site, changes with the labels that .github/labeler.yml gives for each.
All labels: Изменение css, Изменение python, Изменение html, Изменение wiki, Изменение git

.github/labeler.yml:

Изменение css:
  - changed-files:
      - any-glob-to-any-file: ["**/*.css"]

Изменение python:
  - changed-files:
      - any-glob-to-any-file: ["**/*.py"]

Изменение html:
  - changed-files:
      - any-glob-to-any-file: ["templates/**/*.html"]

Изменение wiki:
  - changed-files:
      - any-glob-to-any-file: ["wiki/**", "static/wiki/**"]

Изменение git:
  - changed-files:
      - any-glob-to-any-file: [".gitignore", ".gitattributes", ".github/**"]

update questionnaire rules
  wiki/docs/questionnaire.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/questionnaire.md
Labels: Изменение wiki

forgor
  wiki/docs/questionnaire.md
Labels: Изменение wiki

update index and cleanup
  .env_template
  data_control/__init__.py
  data_control/config.py
  data_control/mail_control.py
  main.py
  templates/index.html
Labels: Изменение python, Изменение html

начало говна на сервере
  routers/root/admin.py
  static/css/admin.css
  templates/admin/index.html
  templates/admin/players.html
Labels: Изменение css, Изменение python, Изменение html

some update
  data_bases/player_db.py
  data_control/player_jwt.py
  static/css/admin.css
Labels: Изменение css, Изменение python

add is_admin for player html
  data_bases/player_db.py
  routers/root/player.py
  static/css/player.css
  templates/player/index.html
Labels: Изменение css, Изменение python, Изменение html

update is_admin access
  routers/root/admin.py
Labels: Изменение python

update world default json
  static/map/world.json
Labels: none

Create map_render.py script
  scripts/map_render.py
Labels: Изменение python

update and add map for wiki
  scripts/map_render.py
  static/wiki/images/lore/world_map.png
  wiki/lore/rp_wiki/index.md
  wiki/lore/rp_wiki/map.md
Labels: Изменение python, Изменение wiki

[no-auto] Normalize wiki
  wiki/lore/rp_wiki/index.md
  wiki/lore/rp_wiki/map.md
Labels: Изменение wiki

Обновление кода бота дс сервера. Я не умею кодить блять
  discord_bot/__init__.py
  discord_bot/bot_obj.py
  discord_bot/cogs/__init__.py
  discord_bot/cogs/event_cog.py
  discord_bot/main_obj.py
  main.py
Labels: Изменение python

add /admin href
  templates/player/index.html
Labels: Изменение html

update code for api_v2
  main.py
  routers/api_v2/__init__.py
  routers/api_v2/oauth2/__init__.py
  routers/api_v2/oauth2/discord.py
Labels: Изменение python

include code for api_v2
  main.py
Labels: Изменение python

fix oauth2 for discord
  routers/api_v2/oauth2/discord.py
Labels: Изменение python

add steam url for oauth2
  routers/api_v2/oauth2/base.py
  routers/api_v2/oauth2/discord.py
  routers/api_v2/oauth2/steam.py
  routers/api_v2/oauth2/utils.py
Labels: Изменение python

не уничтожающее чтение данных
  routers/api_v2/oauth2/discord.py
  routers/api_v2/oauth2/steam.py
  routers/api_v2/oauth2/utils.py
Labels: Изменение python

cleanup code
  routers/root/admin.py
  routers/root/download.py
  routers/root/game.py
  routers/root/loading.py
  routers/root/player.py
Labels: Изменение python

fix some bugs
  routers/api_v2/oauth2/discord.py
  routers/api_v2/oauth2/steam.py
Labels: Изменение python

update and add profile
  routers/api/discord/__init__.py
  routers/api/discord/login.py
  routers/api/discord/redirect.py
  routers/api/steam/__init__.py
  routers/api/steam/login.py
  routers/api/steam/redirect.py
  routers/api_v2/oauth2/base.py
  routers/api_v2/oauth2/discord.py
  routers/api_v2/oauth2/steam.py
  routers/root/profile.py
  templates/admin/index.html
  templates/admin/players.html
  templates/auth_error.html
  templates/player/index.html
  templates/profile/index.html
  templates/store.html
  utils/__init__.py
  utils/jwt.py
Labels: Изменение python, Изменение html

update profile code and web
  data_class/__init__.py
  data_class/base_db.py
  data_class/profile.py
  discord_bot/bot_obj.py
  discord_bot/cogs/__init__.py
  discord_bot/cogs/debug_cog.py
  discord_bot/cogs/user_control_cog.py
  main.py
  routers/api_v2/oauth2/discord.py
  routers/api_v2/oauth2/steam.py
  routers/root/profile.py
  static/css/profile.css
  static/images/error_code/done.png
  templates/index.html
  templates/partials/header.html
  templates/profile/admin.html
  templates/profile/content.html
  templates/profile/index.html
Labels: Изменение css, Изменение python, Изменение html

fix code
  routers/root/profile.py
Labels: Изменение python

fix bugs
  routers/root/profile.py
Labels: Изменение python

fix code
  routers/root/profile.py
Labels: Изменение python

fix discord rate limits
  discord_bot/cogs/user_control_cog.py
Labels: Изменение python

thtcm
  routers/root/profile.py
Labels: Изменение python

fix code for api fetch
  routers/root/profile.py
Labels: Изменение python

fix code
  discord_bot/cogs/user_control_cog.py
Labels: Изменение python

fix overlimit
  static/css/profile.css
  templates/profile/content.html
Labels: Изменение css, Изменение html

add ServerControlCog
  discord_bot/bot_obj.py
  discord_bot/cogs/__init__.py
  discord_bot/cogs/server_cog.py
  routers/root/technical.py
Labels: Изменение python

fix code
  discord_bot/cogs/server_cog.py
Labels: Изменение python

cleanup code
  data_bases/__init__.py
  data_bases/log_db.py
  data_bases/player_db.py
  data_bases/user_db.py
  data_control/__init__.py
  data_control/auto_tax.py
  data_control/jwt_control.py
  main.py
  routers/api/payment_control/create.py
  routers/api/payment_control/delete.py
  routers/api/payment_control/edit.py
  routers/api/payment_control/get.py
  routers/api/payment_control/list.py
  routers/api/service_control/create.py
  routers/api/service_control/delete.py
  routers/api/service_control/edit.py
  routers/api/service_control/get.py
  routers/api/service_control/list.py
  routers/api/yoomoney/notification.py
Labels: Изменение python

add ForumBlockCog
  discord_bot/bot_obj.py
  discord_bot/cogs/__init__.py
  discord_bot/cogs/forum_cog.py
Labels: Изменение python

fix bug
  discord_bot/cogs/forum_cog.py
Labels: Изменение python

update world map code
  scripts/map_render.py
  static/map/world.jpeg
  static/map/world.json
  static/map/world.png
  static/wiki/images/lore/world_map.png
  wiki/lore/rp_wiki/map.md
Labels: Изменение python, Изменение wiki

[no-auto] Normalize wiki
  wiki/lore/rp_wiki/map.md
Labels: Изменение wiki

neuro core and some cleanup
  wiki/doll_docs/modules/communication/index.md
  wiki/doll_docs/modules/index.md
  wiki/doll_docs/modules/standart/index.md
  wiki/doll_docs/modules/standart/neuro_core.md
Labels: Изменение wiki

guides med
  wiki/guides/medical.md
  wiki/guides/medical/doll/index.md
  wiki/guides/medical/human/index.md
Labels: Изменение wiki
