Repository S-P-F-Base/spf-base-site, changes with the labels that .github/labeler.yml gives for each.
All labels: Изменение css, Изменение python, Изменение html, Изменение wiki, Изменение git

add web_sokets
  data_control/__init__.py
  data_control/jwt_control.py
  data_control/web_socket_manager.py
  main.py
  requirements.txt
  routers/api/websocket/__init__.py
  routers/api/websocket/connect.py
Labels: Изменение python

payment link
  data_bases/__init__.py
  data_bases/payment_db.py
  routers/api/player_control/create.py
  routers/root/pay.py
  static/css/pay.css
  templates/pay.html
  templates/pay_cancel.html
  templates/pay_confirm.html
  templates/pay_success.html
Labels: Изменение css, Изменение python, Изменение html

add dashboard and add oauth2 for discord and steam
  .env_template
  data_bases/payment_db.py
  data_bases/player_db.py
  data_control/__init__.py
  data_control/config.py
  data_control/player_jwt.py
  main.py
  routers/api/discord/__init__.py
  routers/api/discord/login.py
  routers/api/discord/redirect.py
  routers/api/player_control/create.py
  routers/api/steam/__init__.py
  routers/api/steam/login.py
  routers/api/steam/redirect.py
  routers/root/dashboard.py
  static/css/auth_error.css
  static/css/dashboard.css
  static/images/logo/discord.png
  static/images/logo/site.jpg
  static/images/logo/steam.png
  templates/auth_error.html
  templates/dashboard/index.html
  templates/donate.html
  templates/download.html
  templates/index.html
  templates/pay.html
  templates/wiki_template.html
Labels: Изменение css, Изменение python, Изменение html

update auth
  data_bases/player_db.py
  data_control/player_jwt.py
  routers/api/discord/redirect.py
  routers/api/player_control/create.py
  routers/api/player_control/get.py
  routers/api/steam/redirect.py
Labels: Изменение python

update dashboard stile
  data_control/player_jwt.py
  routers/root/dashboard.py
  static/css/dashboard.css
  templates/dashboard/index.html
Labels: Изменение css, Изменение python, Изменение html

add
  routers/root/wiki/extensions/img_block_extension.py
  routers/root/wiki/extensions/single_img_extension.py
  routers/root/wiki/extensions/table_img_extension.py
  static/css/wiki.css
  static/wiki/images/avatar/cain_e.png
  static/wiki/images/avatar/foxyr20_d.png
  static/wiki/images/avatar/сain_a.png
  templates/wiki_template.html
  wiki/docs/cooperation.md
  wiki/example.md
  wiki/index.md
  wiki/world_lore/Pages_wiki_1/ELID_info_1.md
  wiki/world_lore/Pages_wiki_1/Lore_info_1.md
  wiki/world_lore/The_First_Wiki.md
  wiki/world_lore/The_Second_Wiki.md
  wiki/world_lore/index.md
Labels: Изменение css, Изменение python, Изменение html, Изменение wiki

IMG render update and add some info (#31)
  routers/root/wiki/extensions/img_block_extension.py
  routers/root/wiki/extensions/single_img_extension.py
  routers/root/wiki/extensions/table_img_extension.py
  static/css/wiki.css
  static/wiki/images/avatar/cain_e.png
  static/wiki/images/avatar/foxyr20_d.png
  static/wiki/images/avatar/сain_a.png
  templates/wiki_template.html
  wiki/docs/cooperation.md
  wiki/example.md
  wiki/index.md
  wiki/world_lore/Pages_wiki_1/ELID_info_1.md
  wiki/world_lore/Pages_wiki_1/Lore_info_1.md
  wiki/world_lore/The_First_Wiki.md
  wiki/world_lore/The_Second_Wiki.md
  wiki/world_lore/index.md
Labels: Изменение css, Изменение python, Изменение html, Изменение wiki

refactor auto tax
  .env_template
  data_control/auto_tax.py
  data_control/config.py
Labels: Изменение python

блять...
  static/wiki/images/avatar/cain_d.png
  wiki/doll_docs/index.md
  wiki/doll_docs/modules/communication/dummy_network.md
  wiki/doll_docs/modules/communication/index.md
  wiki/doll_docs/modules/communication/iru.md
  wiki/doll_docs/modules/communication/osag.md
  wiki/doll_docs/modules/communication/zener_protocol.md
  wiki/doll_docs/modules/index.md
  wiki/doll_docs/type/civilian.md
  wiki/doll_docs/type/index.md
  wiki/doll_docs/type/sangvis_ferri.md
  wiki/doll_docs/type/tactical.md
  wiki/world_lore/Pages_wiki_1/Lore_info_1.md
Labels: Изменение wiki

update auto tax
  data_control/auto_tax.py
Labels: Изменение python

add loading url
  routers/root/loading.py
  static/css/loading.css
  static/images/loading/100_ump_45_40.png
  static/js/loading.js
  templates/loading.html
Labels: Изменение css, Изменение python, Изменение html

enable auto tax
  data_control/auto_tax.py
Labels: Изменение python

update yoomoney
  data_bases/payment_db.py
  data_control/auto_tax.py
  routers/api/yoomoney/notification.py
Labels: Изменение python

add service_control endpoint
  data_bases/log_db.py
  data_bases/payment_db.py
  data_bases/user_db.py
  data_control/__init__.py
  data_control/pydantic_models.py
  main.py
  routers/api/service_control/__init__.py
  routers/api/service_control/create.py
  routers/api/service_control/delete.py
  routers/api/service_control/edit.py
Labels: Изменение python

Меньше половины лорников готово, фоны сделаны.
  static/wiki/images/world_lore/Pages_wiki_1/T-Doll_index_1/AK-12Background.jpg
  static/wiki/images/world_lore/Pages_wiki_1/T-Doll_index_1/AK-AlphaBackground.jpg
  static/wiki/images/world_lore/Pages_wiki_1/T-Doll_index_1/AN-94Background.jpg
  static/wiki/images/world_lore/Pages_wiki_1/T-Doll_index_1/EspressoMakiattoBack.jpg
  static/wiki/images/world_lore/Pages_wiki_1/T-Doll_index_1/G36Background.jpg
  static/wiki/images/world_lore/Pages_wiki_1/T-Doll_index_1/HavaNagilaBack.jpg
  static/wiki/images/world_lore/Pages_wiki_1/T-Doll_index_1/Klukva.jpg
  static/wiki/images/world_lore/Pages_wiki_1/T-Doll_index_1/Klukvaback.jpg
  static/wiki/images/world_lore/Pages_wiki_1/T-Doll_index_1/PerturbatorBack.jpg
  static/wiki/images/world_lore/Pages_wiki_1/T-Doll_index_1/RoBackground.jpg
  static/wiki/images/world_lore/Pages_wiki_1/T-Doll_index_1/SopBackground.jpg
  static/wiki/images/world_lore/Pages_wiki_1/T-Doll_index_1/strasti.jpg
  wiki/example.md
  wiki/world_lore/Pages_wiki_1/Dolls_info_1.md
  wiki/world_lore/Pages_wiki_1/T-dolls_personas.md
  wiki/world_lore/Pages_wiki_1/image.png
  wiki/world_lore/Tactical-Dolls/AK-12.md
  wiki/world_lore/Tactical-Dolls/AK-15.md
  wiki/world_lore/Tactical-Dolls/AK-Alpha.md
  wiki/world_lore/Tactical-Dolls/AN-94.md
  wiki/world_lore/Tactical-Dolls/G-36.md
  wiki/world_lore/Tactical-Dolls/HK-416.md
  wiki/world_lore/Tactical-Dolls/M4-SOPMOD2.md
  wiki/world_lore/Tactical-Dolls/Negev.md
  wiki/world_lore/Tactical-Dolls/OTs-14.md
  wiki/world_lore/Tactical-Dolls/OTs-14M.md
  wiki/world_lore/Tactical-Dolls/Peritya.md
  wiki/world_lore/Tactical-Dolls/RO-635.md
  wiki/world_lore/Tactical-Dolls/WA-2000.md
  wiki/world_lore/The_First_Wiki.md
Labels: Изменение wiki

Удалил картинку
  wiki/world_lore/Pages_wiki_1/image.png
Labels: Изменение wiki

add
  data_bases/log_db.py
  data_bases/user_db.py
  data_control/__init__.py
  data_control/pydantic_models.py
  main.py
  routers/api/lore_char_control/__init__.py
  routers/api/lore_char_control/base_func.py
  routers/api/lore_char_control/create.py
  routers/api/lore_char_control/delete.py
  routers/api/lore_char_control/edit.py
  routers/api/lore_char_control/get.py
  routers/root/lore_char.py
  static/css/lore_char.css
  templates/index.html
  templates/lore_char.html
Labels: Изменение css, Изменение python, Изменение html

Добавление страницы доступных и не очень лорных персонажей (#34)
  data_bases/log_db.py
  data_bases/user_db.py
  data_control/__init__.py
  data_control/pydantic_models.py
  main.py
  routers/api/lore_char_control/__init__.py
  routers/api/lore_char_control/base_func.py
  routers/api/lore_char_control/create.py
  routers/api/lore_char_control/delete.py
  routers/api/lore_char_control/edit.py
  routers/api/lore_char_control/get.py
  routers/root/lore_char.py
  static/css/lore_char.css
  templates/index.html
  templates/lore_char.html
Labels: Изменение css, Изменение python, Изменение html

hot fix
  main.py
Labels: Изменение python

add 404 team loading img
  static/images/loading/100_404_team.png
Labels: none

zener update
  wiki/doll_docs/modules/communication/zener_protocol.md
Labels: Изменение wiki

update
  wiki/doll_docs/index.md
  wiki/doll_docs/modules/communication/index.md
  wiki/doll_docs/modules/communication/ogas.md
  wiki/doll_docs/modules/communication/zener_protocol.md
  wiki/doll_docs/type/civilian/index.md
  wiki/doll_docs/type/sangvis_ferri/index.md
  wiki/doll_docs/type/tactical/index.md
Labels: Изменение wiki

fix lore rus lang
  routers/root/lore_char.py
Labels: Изменение python

мне поебать я полностью рефакторю систему пейментов
  data_bases/__init__.py
  data_bases/payment_db.py
  main.py
  routers/api/donate_control/__init__.py
  routers/api/service_control/__init__.py
  routers/api/service_control/create.py
  routers/api/service_control/delete.py
  routers/api/service_control/edit.py
Labels: Изменение python

hot fix
  routers/api/yoomoney/notification.py
  routers/root/donate.py
  routers/root/pay.py
Labels: Изменение python

update player db and update /dashboard
  data_bases/player_db.py
  routers/root/dashboard.py
  static/css/dashboard.css
  templates/dashboard/index.html
Labels: Изменение css, Изменение python, Изменение html

update dashboard style and update player endpoint
  data_bases/__init__.py
  routers/api/player_control/edit.py
  routers/api/player_control/note.py
  routers/root/dashboard.py
  static/css/dashboard.css
  templates/dashboard/index.html
Labels: Изменение css, Изменение python, Изменение html

add server collection end
  routers/root/server_collection.py
Labels: Изменение python

я ненавижу этот ебаный лор
  wiki/doll_docs/type/civilian/index.md
  wiki/doll_docs/type/index.md
  wiki/doll_docs/type/sangvis_ferri/index.md
  wiki/doll_docs/type/tactical/index.md
Labels: Изменение wiki

update oferta #7
  wiki/docs/oferta.md
Labels: Изменение wiki

прикольные кодер факты!
  templates/donate.html
  templates/pay.html
Labels: Изменение html

однажды тебе прийдётся ответить за свои деяния
  data_bases/__init__.py
  data_bases/log_db.py
  main.py
Labels: Изменение python

и господь
  data_bases/payment_db.py
Labels: Изменение python

не будет так
  data_control/auto_tax.py
Labels: Изменение python

МИЛОСТИВ
  data_control/config.py
  routers/api/payment_control/__init__.py
  routers/api/payment_control/base_func.py
  routers/api/payment_control/create.py
  routers/api/payment_control/delete.py
  routers/api/payment_control/edit.py
  routers/api/payment_control/get.py
  routers/api/payment_control/list.py
  routers/api/service_control/__init__.py
  routers/api/service_control/create.py
  routers/api/service_control/delete.py
  routers/api/service_control/edit.py
  routers/api/service_control/get.py
  routers/api/service_control/list.py
  routers/api/yoomoney/notification.py
  routers/root/donate.py
  routers/root/pay.py
Labels: Изменение python

add auto date for wiki
  .github/workflows/auto-date.yml
  scripts/update_wiki_dates.py
Labels: Изменение python, Изменение git

update ten_codes.md
  wiki/ten_codes.md
Labels: Изменение wiki

update auto-date
  .github/workflows/auto-date.yml
Labels: Изменение git

update example
  wiki/example.md
Labels: Изменение wiki

fix
  .github/workflows/auto-date.yml
Labels: Изменение git

.github/labeler.yml:

Изменение css:
  - changed-files:
      - any-glob-to-any-file: ["**/*.css"]

Изменение python:
  - changed-files:
      - any-glob-to-any-file: ["**/*.py"]

Изменение html:
  - changed-files:
      - any-glob-to-any-file: ["templates/**/*.html"]

Изменение wiki:
  - changed-files:
      - any-glob-to-any-file: ["wiki/**", "static/wiki/**"]

Изменение git:
  - changed-files:
      - any-glob-to-any-file: [".gitignore", ".gitattributes", ".github/**"]
