Repository S-P-F-Base/spf-base-site, changes with the labels that .github/labeler.yml gives for each.
All labels: Изменение css, Изменение python, Изменение html, Изменение wiki, Изменение git

.github/labeler.yml:

Изменение css:
  - changed-files:
      - any-glob-to-any-file: ["**/*.css"]

Изменение python:
  - changed-files:
      - any-glob-to-any-file: ["**/*.py"]

Изменение html:
  - changed-files:
      - any-glob-to-any-file: ["templates/**/*.html"]

Изменение wiki:
  - changed-files:
      - any-glob-to-any-file: ["wiki/**", "static/wiki/**"]

Изменение git:
  - changed-files:
      - any-glob-to-any-file: [".gitignore", ".gitattributes", ".github/**"]

fix bug
  routers/api/service_control/edit.py
Labels: Изменение python

fix bugs
  routers/api/payment_control/create.py
  routers/api/payment_control/delete.py
  routers/api/payment_control/edit.py
  routers/api/payment_control/get.py
  routers/api/payment_control/list.py
  routers/api/service_control/create.py
  routers/api/service_control/delete.py
  routers/api/service_control/edit.py
  routers/api/service_control/get.py
  routers/api/service_control/list.py
  routers/api/websocket/connect.py
Labels: Изменение python

fix dict
  data_bases/payment_db.py
Labels: Изменение python

update dash
  data_bases/player_db.py
  routers/root/dashboard.py
  static/css/dashboard.css
  templates/dashboard/index.html
  wiki/docs/limits.md
Labels: Изменение css, Изменение python, Изменение html, Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/limits.md
Labels: Изменение wiki

update dash style
  static/css/dashboard.css
Labels: Изменение css

update style and fix margin
  static/css/dashboard.css
Labels: Изменение css

update player edit endpoing
  routers/api/player_control/edit.py
Labels: Изменение python

update
  routers/api/player_control/edit.py
Labels: Изменение python

update style
  routers/root/dashboard.py
  static/css/dashboard.css
  templates/dashboard/index.html
Labels: Изменение css, Изменение python, Изменение html

add dashboard into header
  templates/partials/header.html
Labels: Изменение html

update
  wiki/constants.json
  wiki/docs/about.md
  wiki/docs/limits.md
  wiki/docs/server_rules/rp_base.md
  wiki/example.md
Labels: Изменение wiki

update create player endpoint
  routers/api/player_control/create.py
Labels: Изменение python

fix user control endpoint
  routers/api/user_control/delete.py
  routers/api/user_control/get_info.py
Labels: Изменение python

Обновление страницы о проекте и дописание правил отыгрыша (#38)
  wiki/constants.json
  wiki/docs/about.md
  wiki/docs/limits.md
  wiki/docs/server_rules/rp_base.md
  wiki/example.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/about.md
  wiki/docs/limits.md
  wiki/docs/server_rules/rp_base.md
  wiki/example.md
Labels: Изменение wiki

заготовка под авто расчёт веса
  data_bases/player_db.py
Labels: Изменение python

add new loading img
  static/images/loading/100_404_team.png
  static/images/loading/100_AR_TEAM.png
  static/images/loading/100_M4A1.png
  static/images/loading/100_mosinka.png
  static/images/loading/100_stalker_skull.png
  static/images/loading/100_ump_45_40.png
Labels: none

add ak12 an94 loading img
  static/images/loading/100_AK12_AN94.png
Labels: none

404 team for loading
  static/images/loading/100_404_team_2.png
Labels: none

update auto connect url
  wiki/docs/about.md
Labels: Изменение wiki

add discord url for loading
  templates/loading.html
Labels: Изменение html

update donate url
  routers/root/donate.py
  templates/donate.html
Labels: Изменение python, Изменение html

sort donate by name
  routers/root/donate.py
Labels: Изменение python

fix sort for donate
  routers/root/donate.py
Labels: Изменение python

fix oferta url
  templates/payment/pay.html
Labels: Изменение html

fix /payment/{payment_uuid}/receipt.png
  routers/root/payment.py
Labels: Изменение python

update limits
  wiki/docs/limits.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/limits.md
Labels: Изменение wiki

update loading url
  static/js/loading.js
Labels: none

update about
  wiki/docs/about.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/about.md
Labels: Изменение wiki

update db
  data_bases/player_db.py
  routers/api/discord/redirect.py
  routers/api/player_control/create.py
  routers/api/player_control/edit.py
  routers/api/steam/redirect.py
  routers/root/player.py
  static/css/player.css
  templates/partials/header.html
  templates/player/index.html
Labels: Изменение css, Изменение python, Изменение html

fogor :skull:
  routers/api/player_control/edit.py
Labels: Изменение python

update css and html of main
  static/css/main.css
  templates/index.html
  templates/partials/header.html
Labels: Изменение css, Изменение html

donate -> store
  routers/root/store.py
  static/css/store.css
  templates/index.html
  templates/partials/header.html
  templates/store.html
  wiki/docs/limits.md
  wiki/docs/oferta.md
Labels: Изменение css, Изменение python, Изменение html, Изменение wiki

add donate
  routers/root/donate.py
  static/css/donate.css
  templates/donate/index.html
  templates/donate/thanks.html
  templates/index.html
  templates/partials/header.html
  templates/payment/pay.html
Labels: Изменение css, Изменение python, Изменение html

update css
  static/css/lore_char.css
  static/css/main.css
  static/css/payment.css
  static/css/player.css
  static/css/store.css
  static/css/wiki.css
  templates/player/index.html
Labels: Изменение css, Изменение html

fix cover_commission for donate
  routers/root/donate.py
Labels: Изменение python

set warning for donate
  static/css/donate.css
  templates/donate/index.html
Labels: Изменение css, Изменение html
