Repository S-P-F-Base/spf-base-site, changes with the labels that .github/labeler.yml gives for each.
All labels: Изменение css, Изменение python, Изменение html, Изменение wiki, Изменение git

update qu form
  wiki/docs/questionnaire.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/questionnaire.md
Labels: Изменение wiki

блять...
  routers/root/wiki/extensions/__init__.py
  routers/root/wiki/extensions/lobotomy_extension.py
  routers/root/wiki/extensions/redact_extension.py
  routers/root/wiki/extensions/strikethrough_extension.py
  routers/root/wiki/wiki_render.py
  static/css/corp-lobotomy.css
  static/css/wiki.css
  static/js/corp-lobotomy.js
  templates/wiki_template.html
  wiki/docs/about.md
  wiki/docs/limits.md
  wiki/docs/oferta.md
  wiki/docs/questionnaire.md
  wiki/docs/server_rules/rp_base.md
  wiki/docs/server_rules/rules.md
  wiki/example.md
  wiki/guides/commands.md
  wiki/guides/index.md
  wiki/lore/rp_wiki/spf.md
Labels: Изменение css, Изменение python, Изменение html, Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/about.md
  wiki/docs/limits.md
  wiki/docs/oferta.md
  wiki/docs/questionnaire.md
  wiki/docs/server_rules/rp_base.md
  wiki/docs/server_rules/rules.md
  wiki/example.md
  wiki/guides/commands.md
  wiki/guides/index.md
  wiki/lore/rp_wiki/spf.md
Labels: Изменение wiki

add game endpoing
  routers/root/game.py
  templates/game/charselect.html
Labels: Изменение python, Изменение html

update charselect for game
  static/css/game/charselect.css
  static/js/game/charselect.js
  templates/game/charselect.html
Labels: Изменение css, Изменение html

update ui for game/charselect
  static/css/game/charselect.css
  static/js/game/charselect.js
  templates/game/charselect.html
Labels: Изменение css, Изменение html

add craft
  static/css/game/charselect.css
  static/css/game/craft.css
  static/js/game/craft.js
  templates/game/craft.html
Labels: Изменение css, Изменение html

update css
  static/css/game/base.css
  static/css/game/charselect.css
  templates/game/charselect.html
  templates/game/craft.html
Labels: Изменение css, Изменение html

update
  static/css/game/base.css
Labels: Изменение css

update gradient for game windows
  static/css/game/base.css
Labels: Изменение css

update inv
  static/css/game/inv.css
  static/js/game/inv.js
  templates/game/inv.html
Labels: Изменение css, Изменение html

update?
  static/js/game/inv.js
Labels: none

update js
  static/js/game/inv.js
Labels: none

я блять ненавижу js
  static/js/game/inv.js
Labels: none

fix rp local global tag
  wiki/guides/commands.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/guides/commands.md
Labels: Изменение wiki

rm proxy
  data_control/config.py
  routers/api/discord/redirect.py
  routers/api/player_control/create.py
  routers/root/player.py
Labels: Изменение python

update some tex info
  static/wiki/images/how_to_create_wiki/make_fork_1.png
  static/wiki/images/how_to_create_wiki/make_fork_2.png
  static/wiki/images/how_to_create_wiki/make_fork_3.png
  wiki/guides/run_local_wiki.md
  wiki/how_to_create_wiki.md
  wiki/index.md
Labels: Изменение wiki

update wiki for guides
  scripts/normalize_wiki.py
  wiki/guides/run_local_wiki.md
  wiki/index.md
Labels: Изменение python, Изменение wiki

[no-auto] Normalize wiki
  wiki/guides/run_local_wiki.md
Labels: Изменение wiki

add map edit
  map/world.json
  routers/root/map.py
  templates/map.html
Labels: Изменение python, Изменение html

update map control
  routers/root/map.py
  templates/map.html
Labels: Изменение python, Изменение html

fix control for real
  templates/map.html
Labels: Изменение html

update coop
  wiki/docs/cooperation.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/cooperation.md
Labels: Изменение wiki

update limits rule
  wiki/docs/limits.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/limits.md
Labels: Изменение wiki

some update code for map
  routers/root/map.py
  static/map/world.json
Labels: Изменение python

update and setup discord bot
  discord_bot/__init__.py
  discord_bot/command/__init__.py
  discord_bot/command/ping.py
  discord_bot/event/__init__.py
  discord_bot/event/on_ready.py
  discord_bot/main_obj.py
  main.py
  requirements.txt
  templates.py
Labels: Изменение python

update on_ready
  discord_bot/event/on_ready.py
  discord_bot/main_obj.py
Labels: Изменение python

START
  discord_bot/command/__init__.py
  discord_bot/command/ping.py
  discord_bot/event/__init__.py
  discord_bot/event/on_ready.py
  discord_bot/main_obj.py
Labels: Изменение python

update main_obj for bot
  discord_bot/main_obj.py
Labels: Изменение python

Похуй
  templates/map.html
Labels: Изменение html

smalle
  templates/map.html
Labels: Изменение html

блять этой карты сука
  templates/map.html
Labels: Изменение html

update code for map ui
  templates/map.html
Labels: Изменение html

еблан моторс момент
  templates/map.html
Labels: Изменение html

я ненавижу нахуй эту карту
  templates/map.html
Labels: Изменение html

update and add some rus names
  templates/map.html
Labels: Изменение html

.github/labeler.yml:

Изменение css:
  - changed-files:
      - any-glob-to-any-file: ["**/*.css"]

Изменение python:
  - changed-files:
      - any-glob-to-any-file: ["**/*.py"]

Изменение html:
  - changed-files:
      - any-glob-to-any-file: ["templates/**/*.html"]

Изменение wiki:
  - changed-files:
      - any-glob-to-any-file: ["wiki/**", "static/wiki/**"]

Изменение git:
  - changed-files:
      - any-glob-to-any-file: [".gitignore", ".gitattributes", ".github/**"]
