Repository S-P-F-Base/spf-base-site, changes with the labels that .github/labeler.yml gives for each.
All labels: Изменение css, Изменение python, Изменение html, Изменение wiki, Изменение git

.github/labeler.yml:

Изменение css:
  - changed-files:
      - any-glob-to-any-file: ["**/*.css"]

Изменение python:
  - changed-files:
      - any-glob-to-any-file: ["**/*.py"]

Изменение html:
  - changed-files:
      - any-glob-to-any-file: ["templates/**/*.html"]

Изменение wiki:
  - changed-files:
      - any-glob-to-any-file: ["wiki/**", "static/wiki/**"]

Изменение git:
  - changed-files:
      - any-glob-to-any-file: [".gitignore", ".gitattributes", ".github/**"]

update code
  data_control/server_control.py
Labels: Изменение python

update code
  discord_bot/cogs/commands_cog.py
  discord_bot/cogs/event_cog.py
  discord_bot/cogs/player_cog.py
  discord_bot/cogs/server_cog.py
Labels: Изменение python

fix code
  discord_bot/cogs/commands_cog.py
Labels: Изменение python

fix error
  discord_bot/cogs/commands_cog.py
Labels: Изменение python

fun?
  routers/root/game.py
  static/images/loading/100_404_team.png
  static/images/loading/100_404_team_2.png
  static/images/loading/100_404_team_park.png
  static/images/loading/100_AK12_AN94.png
  static/images/loading/100_AR_TEAM.png
  static/images/loading/100_IDV_HELL.png
  static/images/loading/100_M4A1.png
  static/images/loading/100_SF.png
  static/images/loading/100_defy.png
  static/images/loading/100_defy_more_fun.png
  static/images/loading/100_defy_some_fun.png
  static/images/loading/100_defy_team.png
  static/images/loading/100_ears.png
  static/images/loading/100_hk415_g11.png
  static/images/loading/100_mosinka.png
  static/images/loading/100_stalker_skull.png
  static/images/loading/100_ump_45_40.png
  static/loading_media/100_404_team.png
  static/loading_media/100_404_team_2.png
  static/loading_media/100_404_team_park.png
  static/loading_media/100_AK12_AN94.png
  static/loading_media/100_AR_TEAM.png
  static/loading_media/100_IDV_HELL.png
  static/loading_media/100_M4A1.png
  static/loading_media/100_SF.png
  static/loading_media/100_defy.png
  static/loading_media/100_defy_more_fun.png
  static/loading_media/100_defy_some_fun.png
  static/loading_media/100_defy_team.png
  static/loading_media/100_ears.png
  static/loading_media/100_hk415_g11.png
  static/loading_media/100_hk416.mp4
  static/loading_media/100_mosinka.png
  static/loading_media/100_ots14-groza.mp4
  static/loading_media/100_stalker_skull.png
  static/loading_media/100_ump_45_40.png
  templates/loading.html
Labels: Изменение python, Изменение html

fix comments
  discord_bot/cogs/commands_cog.py
Labels: Изменение python

update
  discord_bot/cogs/commands_cog.py
Labels: Изменение python

fix cmd name
  discord_bot/cogs/commands_cog.py
Labels: Изменение python

fix fucking tread
  discord_bot/cogs/forum_control_cog.py
Labels: Изменение python

массовый багфикс, чистка и добавление новых команд
  .env_template
  data_control/__init__.py
  data_control/config.py
  data_control/server_control.py
  discord_bot/cogs/commands_cog.py
  discord_bot/cogs/event_cog.py
  discord_bot/cogs/forum_control_cog.py
  discord_bot/cogs/server_cog.py
  discord_bot/cogs/user_control_cog.py
  economy/game_db.py
  main.py
  routers/root/index.py
Labels: Изменение python

fix typo
  economy/game_db.py
Labels: Изменение python

fix and update command
  discord_bot/cogs/commands_cog.py
  discord_bot/cogs/player_cog.py
Labels: Изменение python

update code
  discord_bot/cogs/server_cog.py
Labels: Изменение python

fix
  discord_bot/cogs/server_cog.py
Labels: Изменение python

fix
  discord_bot/cogs/server_cog.py
Labels: Изменение python

fix commands and help
  discord_bot/cogs/commands_cog.py
Labels: Изменение python

fix help info
  discord_bot/cogs/commands_cog.py
Labels: Изменение python

some fun :3
  discord_bot/bot_obj.py
  discord_bot/cogs/__init__.py
  discord_bot/cogs/some_fun.py
  static/images/ashley/angry.png
  static/images/ashley/happy.png
  static/images/ashley/normal.png
  static/images/ashley/sili.png
  static/images/ashley/something_wrong.png
  static/images/ashley/worry.png
Labels: Изменение python

fix
  discord_bot/cogs/some_fun.py
Labels: Изменение python

fix some not fun
  discord_bot/cogs/some_fun.py
  static/images/ashley/not_ai_i.png
Labels: Изменение python

some minor fix
  discord_bot/cogs/some_fun.py
Labels: Изменение python

fuck
  discord_bot/cogs/some_fun.py
  requirements.txt
Labels: Изменение python

fuck
  discord_bot/cogs/some_fun.py
Labels: Изменение python

fix
  discord_bot/cogs/some_fun.py
Labels: Изменение python

cleanup not fun
  discord_bot/cogs/some_fun.py
  requirements.txt
Labels: Изменение python

fix bug
  discord_bot/cogs/commands_cog.py
Labels: Изменение python

fix db path cleanup
  discord_bot/cogs/player_cog.py
Labels: Изменение python

finaly
  discord_bot/cogs/player_cog.py
Labels: Изменение python

fix bugs
  discord_bot/bot_obj.py
  discord_bot/cogs/__init__.py
  discord_bot/cogs/ai_core.py
Labels: Изменение python

fix ip
  wiki/constants.json
Labels: Изменение wiki

новая часть
  wiki/lore/nrp_wiki/lore_info2.md
Labels: Изменение wiki

fix bug
  discord_bot/cogs/event_cog.py
  discord_bot/cogs/server_cog.py
Labels: Изменение python

fix code
  discord_bot/cogs/server_cog.py
Labels: Изменение python

fix code
  discord_bot/cogs/ai_core.py
Labels: Изменение python

FREND'
  static/loading_media/100_FREND.png
Labels: none

update form for questionnaire
  wiki/docs/questionnaire.md
Labels: Изменение wiki

fix
  wiki/docs/questionnaire.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/questionnaire.md
Labels: Изменение wiki

fix
  wiki/docs/questionnaire.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/questionnaire.md
Labels: Изменение wiki
