Repository S-P-F-Base/spf-base-site, changes with the labels that .github/labeler.yml gives for each.
All labels: Изменение css, Изменение python, Изменение html, Изменение wiki, Изменение git

.github/labeler.yml:

Изменение css:
  - changed-files:
      - any-glob-to-any-file: ["**/*.css"]

Изменение python:
  - changed-files:
      - any-glob-to-any-file: ["**/*.py"]

Изменение html:
  - changed-files:
      - any-glob-to-any-file: ["templates/**/*.html"]

Изменение wiki:
  - changed-files:
      - any-glob-to-any-file: ["wiki/**", "static/wiki/**"]

Изменение git:
  - changed-files:
      - any-glob-to-any-file: [".gitignore", ".gitattributes", ".github/**"]

code add for tests
  main.py
  routers/root/__init__.py
  routers/root/code.py
Labels: Изменение python

GET /code/{number} (#19)
  main.py
  routers/root/__init__.py
  routers/root/code.py
Labels: Изменение python

update
  static/images/error_code/403.png
  templates/error_code/403.html
  templates/error_code/418.html
  templates/error_code/500.html
Labels: Изменение html

add 418 and 500 for code response
  main.py
Labels: Изменение python

update
  static/images/error_code/403.png
  static/images/error_code/404.png
  static/images/error_code/418.jpg
  static/images/error_code/500.jpg
  static/images/error_code/502.jpg
  templates/error_code/403.html
  templates/error_code/404.html
  templates/error_code/418.html
  templates/error_code/500.html
  templates/error_code/502.html
Labels: Изменение html

update
  static/images/error_code/404.jpg
  static/images/error_code/404.png
  static/images/error_code/418.jpg
  static/images/error_code/418.png
  static/images/error_code/500.jpg
  static/images/error_code/500.png
  static/images/error_code/502.jpg
  templates/error_code/404.html
  templates/error_code/500.html
Labels: Изменение html

Errors (#20)
  static/images/error_code/403.png
  static/images/error_code/404.jpg
  static/images/error_code/418.png
  static/images/error_code/500.png
  static/images/error_code/502.jpg
  templates/error_code/403.html
  templates/error_code/418.html
  templates/error_code/500.html
  templates/error_code/502.html
Labels: Изменение html

update
  static/wiki/images/docs/foxyr20.png
  wiki/docs/cooperation.md
Labels: Изменение wiki

add tblimg
  routers/wiki/extensions/__init__.py
  routers/wiki/extensions/single_img_extension.py
  routers/wiki/extensions/table_img_extension.py
  routers/wiki/wiki_render.py
  static/css/wiki.css
  wiki/example.md
Labels: Изменение css, Изменение python, Изменение wiki

update
  static/wiki/images/wallpapers_grom/wallpaper_PMC.png
  static/wiki/images/wiki_grom/C-Dolls.jpg
  static/wiki/images/wiki_grom/OGAS.jpg
  static/wiki/images/wiki_grom/SF.jpg
  static/wiki/images/wiki_grom/T-Dolls.jpg
  static/wiki/images/wiki_grom/dolls1.jpg
  static/wiki/images/world_lore/Pages_wiki_1/Dolls_info_1/C-Dolls.jpg
  static/wiki/images/world_lore/Pages_wiki_1/Dolls_info_1/Dolls_info_1.jpg
  static/wiki/images/world_lore/Pages_wiki_1/Dolls_info_1/G11.png
  static/wiki/images/world_lore/Pages_wiki_1/Dolls_info_1/OGAS.jpg
  static/wiki/images/world_lore/Pages_wiki_1/Dolls_info_1/SF.jpg
  static/wiki/images/world_lore/Pages_wiki_1/Dolls_info_1/T-Dolls.jpg
  static/wiki/images/world_lore/Pages_wiki_1/Dolls_info_1/an-94_blooding.png
  static/wiki/images/world_lore/Pages_wiki_1/Dolls_info_1/blood.png
  static/wiki/images/world_lore/Pages_wiki_1/Dolls_info_1/dolls1.jpg
  static/wiki/images/world_lore/Pages_wiki_1/Dolls_info_1/friends.jpg
  static/wiki/images/world_lore/Pages_wiki_1/Dolls_info_1/memory.jpg
  static/wiki/images/world_lore/Pages_wiki_1/Dolls_info_1/pain.jpg
  static/wiki/images/world_lore/Pages_wiki_1/SPF_info_1/wallpaper_PMC.png
  wiki/docs/cooperation.md
  wiki/index.md
  wiki/ten_codes.md
  wiki/world_lore/Pages_narrator_1/Dolls_info_1.md
  wiki/world_lore/Pages_narrator_1/ELID_info_1.md
  wiki/world_lore/Pages_narrator_1/Lore_info_1.md
  wiki/world_lore/Pages_narrator_1/SPF_info_1.md
  wiki/world_lore/Pages_wiki_1/Dolls_info_1.md
  wiki/world_lore/Pages_wiki_1/ELID_info_1.md
  wiki/world_lore/Pages_wiki_1/Lore_info_1.md
  wiki/world_lore/Pages_wiki_1/SPF_info_1.md
  wiki/world_lore/The_First_Narrator.md
  wiki/world_lore/The_First_Wiki.md
  wiki/world_lore/The_Second_Narrator.md
  wiki/world_lore/The_Second_Wiki.md
  wiki/world_lore/index.md
Labels: Изменение wiki

update
  static/wiki/images/world_lore/Pages_wiki_1/Dolls_info_1/90WISH_logo.png
  static/wiki/images/world_lore/Pages_wiki_1/Dolls_info_1/Dummy_Network.png
  static/wiki/images/world_lore/Pages_wiki_1/Dolls_info_1/UMP45.png
  static/wiki/images/world_lore/Pages_wiki_1/Dolls_info_1/UMP45MK3.png
  static/wiki/images/world_lore/Pages_wiki_1/Dolls_info_1/Zener_Illustration.png
  static/wiki/images/world_lore/Pages_wiki_1/Dolls_info_1/food.jpg
  static/wiki/images/world_lore/Pages_wiki_1/Dolls_info_1/fury_fairy.jpg
  static/wiki/images/world_lore/Pages_wiki_1/Dolls_info_1/neuro_cloud.jpg
  static/wiki/images/world_lore/Pages_wiki_1/Dolls_info_1/pages_dolls.jpg
  static/wiki/images/world_lore/Pages_wiki_1/Dolls_info_1/provocation_fairy.jpg
  static/wiki/images/world_lore/Pages_wiki_1/Dolls_info_1/shield_fairy.jpg
  wiki/docs/cooperation.md
  wiki/world_lore/Pages_wiki_1/Dolls_info_1.md
Labels: Изменение wiki

fuck u
  routers/wiki/wiki_render.py
  wiki/constants.json
  wiki/docs/index.md
  wiki/docs/oferta.md
  wiki/docs/refund.md
  wiki/example.md
Labels: Изменение python, Изменение wiki

Добалвение оферты и динамические константы (#21)
  routers/wiki/wiki_render.py
  wiki/constants.json
  wiki/docs/index.md
  wiki/docs/oferta.md
  wiki/docs/refund.md
  wiki/example.md
Labels: Изменение python, Изменение wiki

update
  routers/root/download.py
  static/css/popup.css
  templates/download.html
Labels: Изменение css, Изменение python, Изменение html

update robots
  routers/root/robots.py
Labels: Изменение python

Обновление страницы download (#22)
  routers/root/download.py
  routers/root/robots.py
  static/css/popup.css
  templates/download.html
Labels: Изменение css, Изменение python, Изменение html

add register for site
  database/user_db.py
  main.py
  routers/api/auth/__init__.py
  routers/api/auth/register.py
Labels: Изменение python

update jwt control
  database/__init__.py
  database/jwt_control.py
  routers/api/yoomoney/create_payment.py
  routers/api/yoomoney/create_payment_url.py
Labels: Изменение python

Update oferta.md
  wiki/docs/oferta.md
Labels: Изменение wiki

update register login endpoint
  database/__init__.py
  database/pydantic_models.py
  routers/api/auth/login.py
  routers/api/auth/register.py
Labels: Изменение python

non-ascii update
  routers/api/auth/register.py
Labels: Изменение python

add user_control get access endpoint
  database/__init__.py
  database/user_db.py
  main.py
  routers/api/user_control/__init__.py
  routers/api/user_control/get_access.py
  routers/root/__init__.py
  routers/root/wiki/__init__.py
  routers/root/wiki/extensions/__init__.py
  routers/root/wiki/extensions/button_extension.py
  routers/root/wiki/extensions/constant_extension.py
  routers/root/wiki/extensions/folder_tree_extension.py
  routers/root/wiki/extensions/img_block_extension.py
  routers/root/wiki/extensions/single_img_extension.py
  routers/root/wiki/extensions/small_text_extension.py
  routers/root/wiki/extensions/strip_comments_extension.py
  routers/root/wiki/extensions/table_img_extension.py
  routers/root/wiki/extensions/wiki_link_extension.py
  routers/root/wiki/wiki_render.py
  routers/wiki/__init__.py
Labels: Изменение python

fix error in code
  database/__init__.py
  database/pydantic_models.py
  routers/api/user_control/get_access.py
Labels: Изменение python

add me endpoint
  main.py
  routers/api/user_control/__init__.py
  routers/api/user_control/get_info.py
  routers/api/user_control/me.py
Labels: Изменение python

update
  database/user_db.py
Labels: Изменение python

remove gost users
  database/jwt_control.py
Labels: Изменение python

add get_all user control endpoint
  database/user_db.py
  main.py
  routers/api/user_control/__init__.py
  routers/api/user_control/get_all.py
  routers/api/user_control/get_info.py
Labels: Изменение python

fix get_user_access bug
  database/user_db.py
Labels: Изменение python

fix get_user_access bug v2
  database/user_db.py
Labels: Изменение python

fix bugs, update, add delete and set_access api endpoint's
  .vscode/launch.json
  database/__init__.py
  database/pydantic_models.py
  database/user_db.py
  include_routers.py
  main.py
  routers/api/auth/__init__.py
  routers/api/user_control/__init__.py
  routers/api/user_control/delete.py
  routers/api/user_control/set_access.py
  routers/api/yoomoney/__init__.py
  routers/root/__init__.py
  routers/root/wiki/wiki_render.py
Labels: Изменение python

fix user_access enum
  database/user_db.py
Labels: Изменение python

update log db
  database/log_db.py
Labels: Изменение python

refresh post -> get
  routers/api/auth/refresh.py
Labels: Изменение python

add server control
  .env_template
  database/__init__.py
  database/config.py
  database/log_db.py
  database/server_control.py
  main.py
  routers/api/server_control/__init__.py
  routers/api/server_control/start.py
  routers/api/server_control/status.py
  routers/api/server_control/stop.py
  routers/api/user_control/delete.py
  routers/api/user_control/set_access.py
Labels: Изменение python

fix time for server control
  database/server_control.py
Labels: Изменение python

fix time for server control v2
  database/server_control.py
Labels: Изменение python

fix time for server control v3
  database/server_control.py
Labels: Изменение python

fast fix of download
  routers/root/download.py
Labels: Изменение python

update
  routers/root/wiki/extensions/__init__.py
  routers/root/wiki/extensions/toc_tree_extension.py
  routers/root/wiki/wiki_render.py
Labels: Изменение python

update css
  routers/root/wiki/extensions/toc_tree_extension.py
  static/css/wiki.css
Labels: Изменение css, Изменение python
