Repository S-P-F-Base/spf-base-site, changes with the labels that .github/labeler.yml gives for each.
All labels: Изменение css, Изменение python, Изменение html, Изменение wiki, Изменение git

update --
  wiki/docs/server_rules/rules.md
  wiki/docs/server_rules/termins.md
Labels: Изменение wiki

[auto-date] Update wiki dates
  changed_files.txt
  scripts/update_wiki_dates.py
  wiki/docs/server_rules/rules.md
  wiki/docs/server_rules/termins.md
Labels: Изменение python, Изменение wiki

update auto date md
  .github/workflows/auto-date.yml
Labels: Изменение git

part 2
  wiki/docs/server_rules/rules.md
Labels: Изменение wiki

[auto-date] Update wiki dates
  changed_files.txt
  scripts/update_wiki_dates.py
  wiki/docs/server_rules/rules.md
Labels: Изменение python, Изменение wiki

update pipeline
  .github/workflows/auto-date.yml
  changed_files.txt
  scripts/update_wiki_dates.py
Labels: Изменение python, Изменение git

add auto-date ci for wiki files
  .github/workflows/auto-date.yml
  scripts/update_wiki_dates.py
  wiki/docs/server_rules/rules.md
  wiki/docs/server_rules/termins.md
  wiki/example.md
  wiki/ten_codes.md
Labels: Изменение python, Изменение wiki, Изменение git

no-auto tag
  .github/workflows/auto-date.yml
Labels: Изменение git

no-auto part 2
  .github/workflows/auto-date.yml
Labels: Изменение git

auto normalize
  .github/workflows/normalize-wiki.yml
  scripts/normalize_wiki.py
  scripts/update_wiki_dates.py
Labels: Изменение python, Изменение git

about ** add
  wiki/docs/about.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/about.md
Labels: Изменение wiki

fix normalize pipe
  .github/workflows/normalize-wiki.yml
Labels: Изменение git

часть от пиздеца (#30)
  static/wiki/images/world_lore/Pages_wiki_1/Lore_info_1/wallpaper_lore.jpg
  wiki/world_lore/Pages_wiki_1/Lore_info_1.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/world_lore/Pages_wiki_1/Lore_info_1.md
Labels: Изменение wiki

дубль 2 блять
  static/wiki/images/avatar/cain_d.png
  wiki/docs/oferta.md
  wiki/docs/server_rules/rules.md
  wiki/docs/server_rules/termins.md
  wiki/doll_docs/index.md
  wiki/doll_docs/modules/communication/dummy_network.md
  wiki/doll_docs/modules/communication/index.md
  wiki/doll_docs/modules/communication/iru.md
  wiki/doll_docs/modules/communication/ogas.md
  wiki/doll_docs/modules/communication/zener_protocol.md
  wiki/doll_docs/modules/index.md
Labels: Изменение wiki

fix normalizer bug
  .github/workflows/normalize-wiki.yml
Labels: Изменение git

Починил все багульки
  wiki/world_lore/Tactical-Dolls/AN-94.md
  wiki/world_lore/Tactical-Dolls/HK-416.md
Labels: Изменение wiki

update
  routers/root/pay.py
  static/css/payment.css
  templates/payment/pay.html
  templates/payment/status.html
Labels: Изменение css, Изменение python, Изменение html

rename
  routers/root/payment.py
Labels: Изменение python

Обновление пеймент составляющей сайта (#35)
  data_bases/__init__.py
  data_bases/log_db.py
  data_bases/payment_db.py
  data_control/auto_tax.py
  data_control/config.py
  main.py
  routers/api/payment_control/__init__.py
  routers/api/payment_control/base_func.py
  routers/api/payment_control/create.py
  routers/api/payment_control/delete.py
  routers/api/payment_control/edit.py
  routers/api/payment_control/get.py
  routers/api/payment_control/list.py
  routers/api/service_control/__init__.py
  routers/api/service_control/create.py
  routers/api/service_control/delete.py
  routers/api/service_control/edit.py
  routers/api/service_control/get.py
  routers/api/service_control/list.py
  routers/api/yoomoney/notification.py
  routers/root/donate.py
  routers/root/pay.py
  routers/root/payment.py
  static/css/payment.css
  templates/donate.html
  templates/pay.html
  templates/payment/pay.html
  templates/payment/status.html
Labels: Изменение css, Изменение python, Изменение html

fix bugs
  data_control/auto_tax.py
  main.py
  routers/api/yoomoney/notification.py
Labels: Изменение python

update
  routers/root/index.py
  static/css/main.css
  static/css/payment.css
  templates/auth_error.html
  templates/donate.html
  templates/download.html
  templates/index.html
  templates/lore_char.html
  templates/partials/base_header.html
  templates/partials/header.html
  templates/payment/pay.html
  templates/payment/status.html
  templates/wiki_template.html
  wiki/docs/index.md
  wiki/docs/limits.md
Labels: Изменение css, Изменение python, Изменение html, Изменение wiki

update redirect urls
  routers/root/discord.py
  routers/root/redirect.py
  routers/root/server_collection.py
Labels: Изменение python

update api
  data_control/__init__.py
  data_control/pydantic_models.py
  routers/api/auth/login.py
  routers/api/auth/register.py
  routers/api/logs/by_creator.py
  routers/api/logs/by_range.py
  routers/api/logs/by_time_range.py
  routers/api/logs/by_type.py
  routers/api/logs/min_max_id.py
  routers/api/lore_char_control/base_func.py
  routers/api/lore_char_control/create.py
  routers/api/lore_char_control/delete.py
  routers/api/lore_char_control/edit.py
  routers/api/payment_control/delete.py
  routers/api/payment_control/edit.py
  routers/api/payment_control/get.py
  routers/api/player_control/create.py
  routers/api/server_control/stop.py
  routers/api/service_control/create.py
  routers/api/service_control/delete.py
  routers/api/service_control/edit.py
  routers/api/service_control/get.py
  routers/api/service_control/list.py
  routers/api/user_control/delete.py
  routers/api/user_control/get_info.py
  routers/api/user_control/set_access.py
Labels: Изменение python

update
  routers/root/technical.py
Labels: Изменение python

fix bug
  routers/root/technical.py
Labels: Изменение python

Обновление главной страницы и добавление регламинтированных лимитов для игроков (#37)
  routers/root/index.py
  static/css/main.css
  static/css/payment.css
  templates/auth_error.html
  templates/donate.html
  templates/download.html
  templates/index.html
  templates/lore_char.html
  templates/partials/base_header.html
  templates/partials/header.html
  templates/payment/pay.html
  templates/payment/status.html
  templates/wiki_template.html
  wiki/docs/index.md
  wiki/docs/limits.md
Labels: Изменение css, Изменение python, Изменение html, Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/index.md
  wiki/docs/limits.md
Labels: Изменение wiki

update style and finalizing the limits
  static/css/donate.css
  static/css/lore_char.css
  static/css/main.css
  static/css/pay.css
  static/images/icons/lock.png
  templates/donate.html
  templates/lore_char.html
  wiki/docs/limits.md
Labels: Изменение css, Изменение html, Изменение wiki

update normalize pipe
  .github/workflows/normalize-wiki.yml
  scripts/normalize_wiki.py
Labels: Изменение python, Изменение git

update config for labeler
  .github/workflows/labeler.yml
Labels: Изменение git

update cooperation
  wiki/docs/cooperation.md
Labels: Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/cooperation.md
Labels: Изменение wiki

i fogor :skull:
  static/wiki/images/avatar/cain_d.png
Labels: Изменение wiki

update oferta nad donate
  data_bases/payment_db.py
  routers/api/payment_control/base_func.py
  routers/api/payment_control/delete.py
  routers/api/payment_control/edit.py
  routers/api/service_control/create.py
  routers/api/service_control/edit.py
  routers/root/donate.py
  static/css/donate.css
  templates/donate.html
  wiki/docs/oferta.md
Labels: Изменение css, Изменение python, Изменение html, Изменение wiki

[no-auto] Normalize wiki
  wiki/docs/oferta.md
Labels: Изменение wiki

update endpoing
  routers/api/service_control/create.py
  routers/api/service_control/edit.py
Labels: Изменение python

fix bug
  routers/api/logs/by_creator.py
  routers/api/logs/by_type.py
  routers/api/lore_char_control/delete.py
  routers/api/payment_control/delete.py
  routers/api/payment_control/get.py
  routers/api/service_control/delete.py
  routers/api/service_control/get.py
Labels: Изменение python

update micro
  data_bases/payment_db.py
Labels: Изменение python

.github/labeler.yml:

Изменение css:
  - changed-files:
      - any-glob-to-any-file: ["**/*.css"]

Изменение python:
  - changed-files:
      - any-glob-to-any-file: ["**/*.py"]

Изменение html:
  - changed-files:
      - any-glob-to-any-file: ["templates/**/*.html"]

Изменение wiki:
  - changed-files:
      - any-glob-to-any-file: ["wiki/**", "static/wiki/**"]

Изменение git:
  - changed-files:
      - any-glob-to-any-file: [".gitignore", ".gitattributes", ".github/**"]
