Repository S-P-F-Base/spf-base-site, pull requests merged in 2025-08, with the labels that each got.

#34 Добавление страницы доступных и не очень лорных персонажей
  data_bases/log_db.py
  data_bases/user_db.py
  data_control/__init__.py
  data_control/pydantic_models.py
  main.py
  routers/api/lore_char_control/__init__.py
  routers/api/lore_char_control/base_func.py
  routers/api/lore_char_control/create.py
  routers/api/lore_char_control/delete.py
  routers/api/lore_char_control/edit.py
  routers/api/lore_char_control/get.py
  routers/root/lore_char.py
  static/css/lore_char.css
  templates/index.html
  templates/lore_char.html
Labels: Изменение python, Изменение css, Изменение html

#30 часть от пиздеца
  static/wiki/images/world_lore/Pages_wiki_1/Lore_info_1/wallpaper_lore.jpg
  wiki/world_lore/Pages_wiki_1/Lore_info_1.md
Labels: Изменение wiki

#37 Обновление главной страницы и добавление регламинтированных лимитов для игроков
  routers/root/index.py
  static/css/main.css
  static/css/payment.css
  templates/auth_error.html
  templates/donate.html
  templates/download.html
  templates/index.html
  templates/lore_char.html
  templates/partials/base_header.html
  templates/partials/header.html
  templates/payment/pay.html
  templates/payment/status.html
  templates/wiki_template.html
  wiki/docs/index.md
  wiki/docs/limits.md
Labels: Изменение wiki, Изменение python, Изменение css, Изменение html

#38 Обновление страницы о проекте и дописание правил отыгрыша
  wiki/constants.json
  wiki/docs/about.md
  wiki/docs/limits.md
  wiki/docs/server_rules/rp_base.md
  wiki/example.md
Labels: Изменение wiki
